<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCPenney</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="pub/js/items-5.js"></script>
    <script src="pub/js/script.js"></script>
    <link rel="stylesheet" href="pub/css/style.css">
</head>
<body ng-app="COProto" ng-controller="CO">
    <!--@@include('includes/header.html')-->
    <!--@@include('includes/steps2.html')-->
    <div class="container">
        <div class="main-steps-holder">
            <div class="loader-holder" ng-class="{'ng-leave':loading==false,'ng-enter':loading==true}">
                <div class="loader"></div>
            </div>
            <div class="step sameday" ng-include="'dev/html/includes/main-steps/sameday.html'" ng-class="{'ng-leave':steps.sameday==false,'ng-enter':steps.sameday==true}"></div>
            <div class="step shipping" ng-include="'dev/html/includes/main-steps/shipping.html'" ng-class="{'ng-leave':steps.shipping==false,'ng-enter':steps.shipping==true}"></div>
            <div class="step payment" ng-include="'dev/html/includes/main-steps/payment.html'" ng-class="{'ng-leave':steps.payment==false,'ng-enter':steps.payment==true}"></div>
            <div class="step review" ng-include="'dev/html/includes/main-steps/review.html'" ng-class="{'ng-leave':steps.review==false,'ng-enter':steps.review==true}"></div>
            <div class="step confirmation" ng-include="'dev/html/includes/main-steps/confirmation.html'" ng-class="{'ng-leave':steps.confirmation==false,'ng-enter':steps.confirmation==true}"></div>
            <div class="clear"></div>
        </div>
        <div class="right-rail">
            <div id="right-rail-holder" class="holder">
            <!--@@include('includes/coupons-rewards.html')-->
            <!--@@include('includes/pricing-summary.html')-->
            </div>
        </div>
        <img class="rr" src="pub/img/rr-vertical.png" alt="" ng-if="confirmation">
    </div>
        <div class="clear"></div>
    <!--@@include('includes/footer.html')-->
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
