<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCPenney</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="pub/js/items-5.js"></script>
    <script src="pub/js/script.js"></script>
    <link rel="stylesheet" href="pub/css/style.css">
</head>
<body ng-app="COProto" ng-controller="CO">
    <!--@@include('includes/header.html')-->
    <div class="container">
        <div class="signin-holder">
            <form action="">
                <div class="form">
                    <img src="pub/img/signin-form.png" alt="">
                    <img class="callouts" src="pub/img/create-acct-callout.png" alt="">
                </div>
            </form>
            <div class="guest">
                <img src="pub/img/or-divider.png" alt="">
                <div>
                    <img src="pub/img/guest.png" alt="">
                    <button class="secondary small" ng-click="goToCheckout();">CONTINUE AS GUEST</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <!--@@include('includes/footer.html')-->
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
