<!-- calendar -->
<div class="calendar" ng-class="{'show':calendar,'hide':!calendar}">
  <img src="pub/img/calendar-widget.png" alt="">
  <!--
  <div class="calendar-meta">
    <div class="calendar-title">Month</div>
    <select name="month" ng-init="date[0]" ng-model="date[0]">
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="March">March</option>
    </select>
  </div>
  <div class="calendar-meta">
    <div class="calendar-title">Day</div>
    <select name="day" ng-init="date[1]" ng-model="date[1]">
      <option value="10th, Wednesday">10th, Wednesday</option>
      <option value="15th, Friday">15th, Friday </option>
      <option value="10th, Saturday">10th, Saturday</option>
      <option value="12th, Sunday">12th, Sunday</option>
    </select>
  </div>
  <div class="clear"></div>
  <span class="calendar-msg">Only days available for delivery will be visible.</span>
  -->
  <p>We will contact you to reschedule if the delivery date become unavailable.</p>
  <button class="secondary small" ng-click="setDate(m,d)">UPDATE DATE</button>
</div>


