<div class="top" id="top" ng-class="{'ng-leave':steps.review==false,'ng-enter':steps.review==true}">
    <div class="coupons-rewards">
        <div class="summary">
            <div class="c-r">
                <img src="pub/img/icons/icon-coupon-new.svg" alt="">
                <div>
                    <p>COUPONS</p>
                    <a href="#">find coupons</a>
                </div>
            </div>
            <div class="c-r">
                <img src="pub/img/icons/coupon-rewards.svg" alt="">
                <div>
                    <p>REWARDS</p>
                    <a href="#">get my rewards</a>
                </div>
            </div>
        </div>

        <form>
            <p ng-show="entryError" class="error">{{ crErrorMsg }}</p>
            <input type="text" ng-disabled="couponInvalid" placeholder="enter coupon or reward" ng-model="code">
            <input type="submit" class="input-submit" value="Apply" ng-click="codeEntry(code);">
        </form>

        <form class="serial-input" ng-show="serialEntry">
            <p ng-show="entryError2" class="error">Invalid serial code please try again.</p>
            <input type="text" ng-disabled="couponInvalid" placeholder="enter serial number" ng-model="serial">
            <input type="submit" class="input-submit" value="Apply" ng-click="codeEntry(code);">

        </form>

        
        <div class="clear"></div>

        <div class="coupons" ng-show="appliedcoupons">
            <h4>COUPONS <span>1 coupon allowed</span></h4>
            <p class="coupons" ng-repeat="coupon in coupons">
                {{ coupon.name }}
                <a href="#">apply</a>
            </p>
        </div>
        <div class="rewards" ng-show="appliedrewards">
            <h4>COUPONS <span>1 coupon allowed</span></h4>
            <p class="coupons" ng-repeat="coupon in coupons">
                {{ coupon.name }}
                <a href="#">remove</a>
            </p>
        </div>

    </div>
</div>

