<header>
    <!---
    <nav class="top">
        <div class="nav">
            <ul>
                <li><a href="">find store</a></li>
                <li><a href="">store ads</a></li>
                <li><a href="">gift cards</a></li>
                <li><a href="">registry</a></li>
            </ul>
            <ul>
                <li><a href="">my account</a></li>
                <li><a href="">saved items</a></li>
                <li><a href="">track order</a></li>
                <li><a href="">customer service</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </nav>
    -->
    <div class="main-header">
        <img class="logo" src="pub/img/jcp-logo.svg" alt="">
        <div class="search">
            <!--
            
            <input type="text" placeholder="enter search term or web id">
            <button></button>
           --> 
        </div>
        <div class="geo">
            <!--
            <img src="pub/img/location-icon.svg" alt="">
            <p>
                <strong>Your Store:</strong>
                Stone Briar Mall
                <a href="">change store</a>
            </p>

            -->
        </div>
        <div class="bag">
            <div class="bag-icon">
                {{ items.length }}
            </div>
            <p>bag <span>{{ subTotal | currency:'$' }}</span></p>
        </div>
        <div class="clear"></div>
    </div>
    <!--
    <nav class="main-nav">
        <ul>
            <li>for the home</li>
            <li>bed &amp; bath</li>
            <li>window</li>
            <li>women</li>
            <li>lingerie</li>
            <li>men</li>
            <li>juniors</li>
            <li>kids</li>
            <li>baby</li>
            <li>shoes</li>
            <li>handbags</li>
            <li>jewlery &amp; watches</li>
            <li>gifts</li>
            <li>sephora</li>
            <li>appliances</li>
            <li>clearance</li>
        </ul>
    </nav>
    -->
</header>
