<div id="bottom" class="bottom" ng-class="{'open':closeCR,'close':!closeCR}">
    <div class="pricing-summary">
        <h3>PRICING SUMMARY</h3>
        <p>
            merchandise subtotal
            <img src="pub/img/icons/tooltip.svg" alt="">
            <span>{{ subTotal | currency }}</span>
        </p>

        <div class="totaldiscounts" ng-show="appliedcoupons">
            <div>
                <p>
                    coupons
                    <span>
                    -{{ totalCoupon | currency:'$' }}
                    </span>
                </p>
            </div>
            <div ng-show="rewardSuccess">
                <span>rewards</span>
                <span class="coupon-list-price">-$10.00</span>
            </div>
        </div>

      <p ng-show="appliedcoupons || rewardSuccess">
        total after discounts
        <span>{{ subTotal - totalCoupon | currency }}</span>
      </p>

        <p>
            est. ship to home
            <img src="pub/img/icons/tooltip.svg" alt="">
            <span ng-hide="shipToHomeValue">FREE</span>
            <span ng-if="shipToHomeValue > 0">{{ shipToHomeValue | currency }}</span>
        </p>
        <p class="indent">or store <span>FREE</span></p>
        <p>same day pickup <span>FREE</span></p>

        <div class="order-total">
            <h3>
                ORDER SUBTOTAL
                <span>{{ finalTotal | currency }}</span>
            </h3>
            <p>tax is determined at checkout</p>
            <h4>total savings {{ totalSavings | currency }}</h4>
        </div>
    </div>

    <div class="clear"></div>

    <!-- Bottom checkout CTA -->
    <div class="checkout-cta" id="checkout-cta" style="display:none">
      <button class="checkout-cta-btn primary" ng-click="continue()">
          PLACE ORDER
      </button>
      <!--
      <img class="checkout-cta-btn" src="pub/img/paypal-btn.png" alt="" />
      <div class="free-shipping">
          <img src="pub/img/icons/truck.svg" alt="">
          <p><strong>FREE SHIPPING OVER $99</strong></p>
          <img src="pub/img/shipping-bar.png" alt="">
          <span>when selected at checkout</span>
      </div>
    </div>
    <!--
    <div class="round-up">
        <h4>ROUND UP FOR CHARIRTY</h4>
        <div class="input">
            <input type="checkbox"><span></span>
        </div>
        <p><strong>Yes, I want to round up for charity</strong>
        By roundin up your order total to the nearest dollar, you help jcp cares support this month’s partner charity.
        <a href="#">learn more</a>
        </p>
        <div class="clear"></div>
    </div>
    -->
</div>
