<div class="steps-holder" id="steps-holder">
    <div class="steps">
        <div class="step sameday" ng-class="{'ng-leave':steps.sameday==false,'ng-enter':steps.sameday==true}" ng-click="gotoStep(progress)">
            <div ng-include="'dev/html/includes/svgs/same-day.html'"></div>
            <div ng-include="'dev/html/includes/svgs/done-check.html'"></div>
            <h1>
                <svg viewBox="0 0 32 32" class="done-icon">
                    <use xlink:href="#done-icon"></use>
                </svg>

                <svg viewBox="0 0 32 32" class="icon">
                    <use xlink:href="#sameday-icon"></use>
                </svg>
                SAME DAY PICKUP
            </h1>
        </div>
        <div class="step shipping" ng-class="{'ng-leave':steps.shipping==false,'ng-enter':steps.shipping==true}" ng-click="gotoStep(progress)">
            <div ng-include="'dev/html/includes/svgs/shipping.html'"></div>
            <h1>
                <svg viewBox="0 0 32 32" class="done-icon" >
                    <use xlink:href="#done-icon"></use>
                </svg>

                <svg viewBox="0 0 32 32" class="icon">
                    <use xlink:href="#shipping-icon"></use>
                </svg>
                SHIPPING
            </h1>
        </div>
        <div class="step payment" ng-class="{'ng-leave':steps.payment==false,'ng-enter':steps.payment==true}" ng-click="gotoStep(progress)">
            <div ng-include="'dev/html/includes/svgs/payment.html'"></div>
            <h1>
                <svg viewBox="0 0 32 32" class="done-icon">
                    <use xlink:href="#done-icon"></use>
                </svg>

                <svg viewBox="0 0 32 32" class="icon">
                    <use xlink:href="#payment-icon"></use>
                </svg>
                PAYMENT
            </h1>
        </div>
        <div class="step review" ng-class="{'ng-leave':steps.review==false,'ng-enter':steps.review==true}" ng-click="gotoStep(progress)">
            <h1>
                <svg viewBox="0 0 32 32" class="done-icon">
                    <use xlink:href="#done-icon"></use>
                </svg>

                <svg viewBox="0 0 32 32" class="icon">
                    <use xlink:href="#review-icon"></use>
                </svg>
                REVIEW
            </h1>
        </div>
        <div class="clear"></div>
        <div class="progress-bar">
            <div class="progress" style="width:{{progress*25}}%"></div>
        </div>
</div>
    </div>
