<div class="steps-holder" id="steps-holder">
<div class="co-steps">
  <div ng-include="'dev/html/includes/svgs/done-check.html'"></div>
  <ul class="full">
    <li ng-class="{'ng-leave':steps.sameday==false,'ng-enter':steps.sameday==true, 'visited': test}" ng-click="returnSteps(1)">
        <span>
        <div ng-include="'dev/html/includes/svgs/same-day.html'"></div>

        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#sameday-icon"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="done-icon">
            <use xlink:href="#done-icon"></use>
        </svg>

        Same Day Pickup</span>
    </li>
    <li class="" ng-class="{'ng-leave':steps.shipping==false,'ng-enter':steps.shipping==true}" ng-click="returnSteps(2)">
        <span>
        <div ng-include="'dev/html/includes/svgs/shipping.html'"></div>

        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#shipping-icon"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="done-icon">
            <use xlink:href="#done-icon"></use>
        </svg>

        Shipping</span>
    </li>
    <li ng-class="{'ng-leave':steps.payment==false,'ng-enter':steps.payment==true}" ng-click="returnSteps(3)">
        <span>
        <div ng-include="'dev/html/includes/svgs/payment.html'"></div>

        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#payment-icon"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="done-icon">
            <use xlink:href="#done-icon"></use>
        </svg>

        Payment</span>
        </li>
    <li ng-class="{'ng-leave':steps.review==false,'ng-enter':steps.review==true}" ng-click="returnSteps(4)">
        <span>
        <div ng-include="'dev/html/includes/svgs/review.html'"></div>

        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#review-icon"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="done-icon">
            <use xlink:href="#done-icon"></use>
        </svg>

        Review</span>
    </li>
  </ul>
</div>
</div>
