.calendar{
  background-color: #fff;
  border: 1px solid $cement;
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.20);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  display: inline-block;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 2;
    border: 1px solid $cement;
    top: -11px;
    left: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent #fff transparent;

  }

  &:before{
    content: "";
    position: absolute;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 2;
    border: 1px solid $cement;
    top: -13px;
    left: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent $cement transparent;
  }
  &.show{
      @include fadeInDown();
  }
  &.hide{
      @include fadeOutUp();
  }
  button{
      margin:0 auto;
      display:block;
      margin-bottom:.5rem;
  }

  p{
      font-size:.75rem;
      margin:0;
      padding:.5rem;
      padding-bottom:.25rem;
      text-align:center;
  }
}

.calendar-meta{
  float: left;
  margin-bottom: 10px;

  &:first-child{
    margin-right: 10px;
  }
}

.calendar-title{
  font-size: 12px;
  margin-bottom: 3px;
  font-weight: bold;
  color: #ACACAC;
  display: block;
}

.calendar select{
  min-width: 143px;
  background-position: 120px 10px;
  font-size: 14px;
}

.calendar-msg{
  font-size: 12px;
  color: $devy-gray;
}
