.cards{
  overflow: auto;

  .card{
    float: left;
    width: 240px;
    margin-right: 1rem;
    border: 1px solid $cement;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

    &.active{
      box-shadow: inset 0px 0px 0px 1px $blue, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0px 0px 0px 1px $blue, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
      border-color: $blue;
     
    }

    &:last-child{
      margin-right:0;
    }

    &.active-new{
      &:after{
        width: 0;
        height: 0;
        display: block;
        content: "";
        position: absolute;
        bottom: -.8rem;
        left: 50%;
        margin-left: -17px;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-top: 17px solid #fff;
        border-radius: 2px;
          -webkit-border-radius: 2px;
      }

      &:before{
        width: 0;
        height: 0;
        display: block;
        content: "";
        position: absolute;
        bottom: -1rem;
        left: 50%;
        margin-left: -17px;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-top: 17px solid $blue;
        border-radius: 2px;
          -webkit-border-radius: 2px;
      }
    }

    h3{
      font-size: 0.875rem;
      margin: 0;
    }

    .card-close{
      position: absolute;
      cursor: pointer;
      top: .5rem;
      right: .5rem;
    }

    .card-delete{
      h3{
        border-bottom: 1px solid $cement;
        font-size: 1rem;
        padding-bottom: 1rem;
        margin-bottom: .5rem;
      }

      .cta{
        float: right;
      }

      button{
        font-size: .75rem;
        padding: 0 1rem;
        margin-left: .5rem;
      }
    }
  }
}

// payment section
.sameday{
  .card{
    min-height: 168px;
  }
}

.card-payment-info{
  float: left;
  width: 115px;
  color: $devy-gray;
  font-size: 0.75rem;

  &.number{
    width: 90px;
  }

  ul{
    margin: 0px;
    padding: 0px;
  }
}

.card-payment-express{
  font-size: .75rem;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  position: relative;

  input{
    left: 0;
    top: 0;
    position: absolute;
  }

  input + span {
    left: 0;
    top: 0;
    position: absolute;
  }

  p{
    margin: 0;
  }

  img{
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .express{
    width: 6rem;
    float: left;
  }
}
