.co-steps{
  width: 1250px;
  margin: 0 auto;
  text-transform: uppercase;

  .full{
    overflow: auto;
    margin:0;

      li{
        margin: 0px;
        list-style: none;
        color: #fff;
        text-align: center;
        float: left;
        width: 25%;
        font-size: .875rem;
        font-weight: bold;
        padding: 10px 0px;

        &:first-child{
          span{
            border-top: none;
            border-bottom: none;
            border-left: none;
            border-radius: 20px 0 0 20px;
            -webkit-border-radius: 20px 0 0 20px;

            &:before{
              border-top: none;
              border-bottom: none;
              border-left: none;
            }
          }
        }

        span{
          background-color: #efefef;
          display: block;
          padding: 0 10px;
          line-height: 36px;
          height: 36px;
          margin-right: 20px;
          position: relative;
          color: #666666;
        }

        span,
        span:after{
            transition: all .5s;
        }
        span{
          background-color: #efefef;
          display: block;
          padding: 0 10px;
          line-height: 36px;
          height: 36px;
          margin-right: 20px;
          position: relative;
          color: #888;

          img{
              margin: 0 7px 0 0;
              vertical-align: middle;
          }

          &:after{
            width: 0;
            height: 0;
            display: block;
            content: "";
            position: absolute;
            top: 0px;
            right: -18px;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            border-left: 18px solid #efefef;
            z-index: 2;
          }

          &:before{
            width: 0;
            height: 0;
            top: 0px;
            left: 0px;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
            border-left: 18px solid #fff;
            display: block;
            content: "";
            position: absolute;
          }
        }

        svg{
            width:2rem;
            vertical-align:text-top;
            position:relative;
            left:2rem;

            &.done-icon{
                opacity:0;
            }
        }

        &.ng-enter{
            span{
                color:$white;
                background:$blue;

                &:after{
                  border-left: 18px solid $blue;
                }
            }

        }
        &.ng-leave{
            cursor:pointer;

            span{
              color:$blue;

            }
            &:after{
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent;
                border-left: 18px solid $blue;
            }
            .done-icon{
              opacity:1;
              top:-2px;
              left:0;

              @include fadeInRight(
                  $duration: .5s
              );
          }
          .icon{
            @include fadeOutLeft(
                $duration: .5s
            );
          }
        }




      }
    }
}
