.coupons-rewards{
    padding:1rem 0;
    
    .summary{
        .c-r{
            float:left;
            padding:0 0 0 .5rem;
            border-left:1px solid $white;

            img,
            div{
                display:inline-block;
                vertical-align:middle;
            }
            p{
                margin:0;
                font-weight:bold;
                font-size:.75rem;   
            }
            a{
                font-size:.75rem;
                display:block;
            }

            &:first-child{
                padding:0 .5rem 0 0;
                border:none;
                border-right:1px solid $white-smoke;
            }
        }
    }
    form{
      float: left;
      display:block;
      width:100%;
      margin-top:1rem;

      .error{
          color:$jcp-red;
          font-size:.75rem;
      }
      p{
          width:100%;
          margin:0;
          margin-bottom:.25rem;
      }
      input[type="text"],
      input[type="submit"]{
          height: 30px;
          font-size:.75rem;
          float: left;
      }
      input[type="text"]{
          width: 75%;
          border: 1px solid #888888;
          border-right: none;
          border-radius: 2px 0px 0px 2px;
          -webkit-border-radius: 2px 0px 0px 2px;
          padding-left: 10px;
          margin: 0px;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
      }
      input[type="submit"]{
          width: 25%;
          margin: 0px;
          padding: 0px;
          background-color: #145A88;
          text-align: center;
          outline: none;
          border: none;
          text-transform: uppercase;
          font-weight: bold;
          color: $white;
          border-radius: 0px 3px 3px 0px;
          -webkit-border-radius: 0px 3px 3px 0px;
          transition: background-color .25s ease-in-out;
          -webkit-transition: background-color .25s ease-in-out;

          &:hover{
            cursor: pointer;
            background-color: lighten($blue, 5%);
          }
      }

      &.serial-input{
        width: 90%;
        margin-left: 10%;
      }
    }
    .coupons{
        margin-top: 1rem;

        h4{
            color:$jet;
            font-size:.75rem;
            margin:0;
            padding-bottom:.25rem;
            border-bottom:1px solid $cement;

            span{
                float:right;
                text-align:right;
                font-weight:normal;
                color:$devy-gray;
            }
        }
        p{
            font-size:.75rem;
            margin:.25rem 0 0 0;

            a,span{
                text-align:right;
                float:right;
            }
            span{
                margin-right:2rem;
            }
        }
    }
}

