$ghost: #fafafa;
$jet: #333333;
$cement: #cccccc;
$devy-gray: #666666;
$jcp-red: #cc0000;
$white: #ffffff;
$green: #008A44;
$link: #2060ca;
$tin: #888888;
$blue: #03588C;
$white-smoke:#eeeeee;

$field-shadow: 0px 0px 5px 0px rgba(102,102,102,0.5);
$btn-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0.4);

ul{
    padding:0;
    list-style-type:none;

    li{
        margin:0;
    }
}
svg{
    fill: currentColor;
}
button{
    -webkit-box-shadow:$btn-shadow;
    -moz-box-shadow:$btn-shadow;
    box-shadow:$btn-shadow;
    border-radius:2px;
    color:$white;
    border:none;
    padding:0 2rem;
    font-weight:bold;


    &.primary{
        background:$jcp-red;
        height:40px;

        img{
          margin-right: 4px;
        }
    }
    &.secondary{
        background:$blue;
        height:30px;
    }
    &.small{
        height:30px;
        font-size:.75rem;
    }
}
button:active{
    outline:0;
    position:relative;
    top:1px;
    -webkit-box-shadow:none;
    -webkit-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color: rgba(255,255,255,0.4);

}
body,html{
    background:$white;
    margin:0;
    padding: 0;
    color: $jet;
    font-size:16px;
    -webkit-font-smoothing: antialiased;
}
*{
    box-sizing:border-box;
    font-family:arial, helvetica, clean, sans-serif;
}
a{
    text-decoration:none;
    font-size:.75rem;
    font-weight:bold;

    &:active,
    &:visited,
    &:link{
        color: $link;
    }
}
.input-wrapper{

    label {
      color: #333;
      font-size: 1rem;
      position: relative;
      padding-left: 1.5rem;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -webkit-font-smoothing: antialiased;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    input{
      display:none;
    }
    label:before,
    label:after{
       display: inline-block;
       position: absolute;
       left: 0;
       top:0;
       width: 1rem;
       height: 1rem;
       font-size: 1rem;
       color: #333;
       text-align: center;
       content: '';
       background-size:contain;
       background-position:center;
    }
    label:after{
        opacity: 0;
        transition: all .4s;
        -webkit-transition: all .4s;
    }
    input:checked+label:after{
        opacity:1;
    }
    input[type="checkbox"]+label:before {
        background-image: url(../img/icons/checkbox-off.svg); 
    }
    input[type="checkbox"]+label:after {
        background-image: url(../img/icons/checkbox-on.svg);
    }
    input[type="radio"]+label:before {
        background-image: url(../img/icons/radio-off.svg); 
    }
    input[type="radio"]+label:after {
        background-image: url(../img/icons/radio-on.svg);
    }
}

select{
    border:1px solid $cement;
    height: 25px;
    padding:0 .5rem;
    border-radius:2px;
    min-width: 65px;
    padding-right: 1.75rem;
    color:$jet;
    cursor: pointer;
    background:$ghost url(../img/icons/arrow-down.svg) no-repeat;
    background-attachment: absolute;
    background-position: right 5px center;
    -webkit-appearance:none
}
.clear{
    clear:both;
}
.global-msg{
    background: $ghost;
    padding: 1rem;
    border-radius: 2px;
    margin-bottom:1rem;
    display:none;

    img,p{
        display:inline-block;
    }
    img{
        height: 1rem;
        width: auto;
        vertical-align:middle;
    }
    p{
        margin:0;
        padding-left: 1.5rem;
        font-size:1rem;
    }

    &.success{
        background: url(../img/green-check.svg) no-repeat .5rem center;
        border: 1px solid $green;
        color:$green;
    }
}

.error{
  color: $jcp-red;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
  margin-top: -.5rem;
  display: block;
}

.inputError{
  outline: none;
  border-color: $jcp-red !important;
  background: url('../img/icons/form-error.svg') no-repeat;
  background-position: right 9px top 7px;
  position: relative;
}

.inputValid{
  outline: none;
  border-color: inherit;
  background: url('../img/icons/check-done.svg') no-repeat;
  background-position: right 9px top 7px;
  position: relative;
}
