header{
    padding: 1rem 0;
    .top{
        background:#eee;
        padding:.25rem 0;
        margin-bottom:2rem;
    }
    .nav{
        width:1250px;
        margin: 0 auto;

        ul{
            margin:0;
            float:right;

            &:first-child{
                float:left;
            }

            li{
                display:inline-block;
                border-right: 1px solid $cement;
                padding:0 .25rem;

                &:last-child{
                    border:none;
                }
                a{
                    font-weight: normal;
                    text-align:center;
                    display:inline-block;

                    &:active,
                    &:link,
                    &:visited{
                        color:$devy-gray;

                    }
                }
            }
        }
    }
    .main-header{
        width:1250px;
        margin: 0 auto;

        .logo{
            width:15%;
        }
        .search{
            width:60%;
        }
        .geo{
            width:10%;
        }
        .bag{
            width:10%;
        }
        .logo,
        .search,
        .geo,
        .bag{
            display:inline-block;
            vertical-align:middle;
        }
        .search{
            input,
            button{
                display:inline-block;
                vertical-align:middle;
                height:30px;
            }
            input{
                font-size:.875rem;
                color:$devy-gray;
                width:80%;
                padding:0 .5rem;
                font-weight:normal;
            }
            button{
                background:$jcp-red url('../img/search-icon.svg') no-repeat center center;
                border:1px solid red;
                border-radius:0;
                width:2rem;
                box-shadow:none;
                padding:0;
                margin-left:-.5rem;
            }
        }
        .geo{
            img,
            p{
                float:left;
            }
            img{
                width:15%;
            }
            p{
                font-size:.75rem;
                width:80%;
                color:$devy-gray;
                margin: 0;
                margin-left:.25rem;
                text-align:left;

                strong{
                    display:block;
                }
                a{
                    font-weight:normal;
                }
            }
        }
        .bag{
            .bag-icon{
                background:url('../img/bag.png') no-repeat center center;
                background-size:100% 100%;
                height: 35px;
                float:left;
                width:30px;
                font-size:.825rem;
                padding-top:.75rem;
                color:white;
            }
            p{
                font-size:.75rem;
                color:$devy-gray;
                text-align:left;
                margin:.25rem 0 0 .25rem;
                float:left;

                span{
                    display:block;
                    color:$jet;
                }
            }
        }
    }
    .main-nav{
        margin-top:2rem;

        ul{
            width: 1250px;
            margin: 0 auto;

            li{
                display:inline-block;
                font-size:.875rem;
                color:$jet;
                margin: 0 .5rem;
                text-align:justify;

                &:last-child{
                    color:$jcp-red;
                }
            }
        }
    }
}
