.main-steps-holder{

    float: left;
    max-width: 960px;
    width: 80%;
    position:relative;
    margin:2rem 0;

    .loader-holder{
        position:absolute;
        width:100%;
        height:100%;
        z-index:6;
        background:rgba(255,255,255,0.6);
        display:flex;  
        align-items:center;
        justify-content:center;
        flex-direction:column;

        
        .loader{
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1em solid rgba(20,110,154, 0.2);
            border-right: 1em solid rgba(20,110,154, 0.2);
            border-bottom: 1em solid rgba(20,110,154, 0.2);
            border-left: 1em solid #146e9a;
            transform: translateZ(0);
            animation: load8 1.1s infinite linear;
            border-radius: 50%;
            width: 5em;
            height: 5em;

            &:after{
              border-radius: 50%;
              width: 10em;
              height: 10em;
            }
        }
        &.ng-enter{
            @include fadeIn();
        }
        &.ng-leave{
            display:none;
        }
    }

    .step{
        position:absolute;
        width:100%;
        opacity:0;
        //display:none;

        &.ng-leave{
            @include fadeOutLeft(
                $duration:.5s,
                $function:ease-in-out
            );
        }
        &.ng-enter{
            @include fadeInRight(
                $function:ease-in-out,
                $delay:.5s
            );
            position:relative;
        }
        &.enter{
            @include fadeInDown(
                $duration:.5s,
                $function:ease-in-out
            );
        }
        &.leave{
            @include fadeOutDown(
                $function:ease-in-out,
                $delay:.5s
            );
            position:relative;
        }

        .subhead{

          h2{
            border-bottom:1px solid $cement;
            padding-bottom:.5rem;
            font-size: 1rem;
            margin-bottom: .5rem;
          }

          img{
            margin-right: .25rem;
            vertical-align: middle;
          }

          p{
            font-size: 0.875rem;
            color: $devy-gray;
            margin: 0 0 0 1rem;
          }
        }

        .header{
            border-bottom:1px solid $cement;
            padding-bottom:.5rem;

            h1{
                font-size:1.125rem;
                margin: 0;
                color:$jet;

                img{
                    vertical-align: middle;
                    margin-right: .25rem;
                }
            }
        }
        h2,
        label{
            color:$jet;
            font-size:.875rem;
        }
        input[type="radio"]{
            left:0;
            margin-bottom: 1rem;
        }
        input[type="radio"]+span{
            vertical-align:text-top;
            margin-left:-1.25rem;
        }
        form{
            label{
                color:$jet;
                margin:0 0 .25rem 0;
                position:relative;

                span{
                    color:$jcp-red;
                }

                .form-tool-tip{
                  float: right;
                  font-size: .75rem;
                  color: $devy-gray;

                  img{
                    margin-left: .25rem;
                    vertical-align: middle;
                  }
                }
            }
            input[type="text"]{
                border:1px solid $cement;
                border-radius:2px;
                padding-left: .5rem;
                color:$jet;
                height:30px;
                width: 50%;
                margin-bottom: 1rem;

                &::-webkit-input-placeholder{
                    font-size:.875rem;
                }
            }
            .form{
                margin-top:2rem;

                label{
                    display:block;
                }
            }
        }
        .step-footer {
            margin-top:6rem;
            border-top: 1px solid $white-smoke;
            padding-top: 1rem;

            h4{
                float:left;
                margin:1rem 0 0 0;
                color:$devy-gray;
                font-size:.75rem;

                img{
                    vertical-align:sub;
                }
            }
            button{
                float:right;
            }
        }
    }
    .review{
      //opacity:1;
      //display:block;
    }

    .payment,.review{
        form{
            margin-top:2rem;
        }
    }

    @import 'main-steps/sameday';
    @import 'main-steps/shipping';
    @import 'main-steps/payment';
    @import 'main-steps/review';
    @import 'main-steps/confirmation';

}
