// Messages
.msg{
  border: 1px solid;
  padding: 1rem 1rem 1rem 3rem;
  margin-bottom: .5rem;
  margin-top: .5rem;
  border-radius: 2px;
    -webkit-border-radius: 2px;

  &.info{
    background: #fafafa url('../img/icons/info.svg') .75rem .75rem no-repeat;
    border-color: $link;
    color: $link;
  }

  &.error{
    color: $jcp-red;
    border-color: $jcp-red;
    background: #ffeded url('../img/icons/error.svg') .75rem .75rem no-repeat;

  }
}
