.pricing-summary{

    h3{
        margin:0 0 1rem 0;
        font-size:1rem;

        span{
            float:right;
            text-align:right;
        }
    }
    p{
        font-size:.875rem;
        margin: .25rem 0;
        color:$devy-gray;

        img{
            display:inline-block;
            vertical-align:bottom;
        }
        span{
            text-align:right;
            float:right;
        }
    }
    .totaldiscounts{
        border-top:1px solid $cement;
        padding:.25rem 0;
        border-bottom:1px solid $cement;

        p{
            color:$green;
        }
    }
    hr{
        border:none;
        background:$cement;
        height:1px;
        margin:.5rem 0;
    }
    .order-total{
        border-top:1px solid $cement;
        padding-top:1rem;

        h3{
            margin:0;
        }
        p{
            font-size:.75rem;
            margin: 0 0 .5rem 0;
        }
        h4{
            margin: .5rem 0 1rem 0;
            color:$green;
            text-align:right;
        }
    }
    .round-up{
       border: 1px solid red;
       h4{
           font-size:1rem;
       } 
       div{
           float:left;
       }
       p{
           float:left;
       }
    }
}

.checkout-cta{
    text-align:center;

    .creditcards{
        margin-bottom:1rem;
    }
}

.checkout-cta .left{
  float: left;

  img{
    margin-right: 35px;
  }
}

.checkout-cta .right{
  text-align: right;

  .primary{
    margin-top: -5px;
  }

}

.checkout-cta-or{
  font-size: 14px;
  color: $devy-gray;
  display:block;
  text-align:center;
  margin:.25rem auto;
}

.checkout-cta-btn{

    &.primary{
        width: 100%;
        display:block;
        margin: 0 auto;
    }
}

.free-shipping{
    text-align:left;
    margin-top:1rem;

    img,p{
        display:inline-block;
        vertical-align:middle;
    }
    p{
        font-size:.875rem;
        margin:0;
        color:$blue;
    }
    span{
        color:$blue;
        font-size:.75rem;
    }
}

.footer-ads{
  margin: 0px;
  padding: 0px;

  li{
    margin: 0px;
    padding: 0px;
    display: inline;
    margin: 0 10px;
  }
}
