.right-rail{
    margin:0;
    float: right;
    position:relative;
    z-index:4;
    top:-1px;
    width: 20%;
    padding-left:1rem;

    .holder{
        width: 270px;
        max-width: 270px;
        box-shadow:-1px 3px 5px rgba(0,0,0,0.2);

        .bottom,
        .top{
            padding: 0 1rem;
            border: 1px solid $cement;
            position:relative;
        }
        .top{
            background: $ghost;
            border-top:none;
            z-index:4;
            display:none;
        }
        .bottom{
            padding:1rem;
            border-radius: 0 0 2px 2px;
            z-index: 5;
            background:white;
            border-top:none;

            &.sticky-pricing{
                position:fixed;
                width:270px;
                top:68px;
                box-shadow:-1px 3px 5px rgba(0,0,0,0.2);

                @include fadeInDown();
            }
            &.lock{
                position:relative !important;
            }

            &.open{
            }
            &.close{
                border-top:1px solid $cement;
                //margin-top:-1rem;
            }
        }
    }

    .sticky-holder{
        top:0;
        position:fixed;
    }
}
