.signin-holder{
    width:90%;
    margin:4rem auto;

    h4{
        font-size:1.5rem;
        color:$jet;
        margin:0 0 1rem 0;
    }
    form{
        img{
            float:left;
            height:auto;
            display:block;
        }
        .callouts{
            margin:3rem 0 0 2rem;
        }
    }

    form{
        width:65%;

        label{
            color:$jet;
            margin:0 1.5rem .25rem 0;
            position:relative;

            span{
                color:$jcp-red;
            }
        }
        input[type="text"]{
            border:1px solid $cement;
            border-radius:2px;
            padding-left: .5rem;
            color:$jet;
            height:30px;
            width: 80%;
            margin-bottom: .75rem;

            &::-webkit-input-placeholder{
                font-size:.875rem;
            }
        }
        .form{
            label{
                display:block;
            }
        }
    }
    form,
    .guest{
        padding:1rem;
        float:left;
    }
    .guest{
        width:35%;

        img{
            float:left;
        }
        div{
            margin-left:3rem;

            img{
                float:none;
            }
            button{
                margin-top:1rem;
            }
        }
    }
}
    
