.steps-holder{

    margin-top:1rem;
    border-bottom: 1px solid #cccccc;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    position:relative;
    z-index:5;

    &.sticky-steps{
        position:fixed;
        background:$white;
        z-index:5;
        padding-top:1rem;
        top:0;
        width:100%;
        margin:0;
    }
    &.done{
        position:relative;

        .step{
            h1{
                color:$devy-gray !important;
            }
            .done-icon{
                color:$devy-gray !important;
            }
        }
    }
    .steps{
        margin:0 auto;
        width: 1250px;
        cursor:pointer;
        
        .step{
           float:left;
           width: 25%;

           h1{
               color:$devy-gray;
               text-align:center;
               margin:0;
               font-size:.875rem;
               transition: all 1s;
           }
           svg{
               height:2rem;
               vertical-align:top;
               width: auto;

               &.done-icon{
                   color:$green;
                   stroke-dasharray: 3;
                   position:relative;
                   left: 2rem;
                   opacity:0;
               }
           } 

           &.ng-enter{
               h1{
                   color:$jet;
               }
           }
           &.ng-leave{
               h1{
                   color:$jet;
               }
               .icon{
                    @include fadeOutLeft(
                        $duration: .5s
                   );
               }
               .done-icon{
                    @include fadeInRight(
                        $duration: .5s
                   );
               }
           }
        }
    }
    .progress-bar{
        background:$cement;
        height:2px;
        position:relative;

        .progress{
            transition: all 1s;
            position:absolute;
            background:$blue;
            height:2px;
            width:25%;
        }
    }
}
