@import '../../bower_components/normalize.sass/_normalize.sass';
@import '../../bower_components/animate.css-scss/animate.scss';
@import 'globals';
@import 'header';
@import 'steps';
@import 'coupons-rewards';
@import 'pricing-summary';
@import 'calendar';
@import 'main-steps/payment';
@import 'co-steps';
@import 'cards';

header,footer {
    text-align:center;
    margin: 0 auto;
}

.container{
    max-width:1250px;
    width:1150px;
    margin: 0 auto;

    @import 'right-rail';
    @import 'main-steps';
    @import 'signin';

    .rr{
        display:block;
        margin:2rem auto 0 auto;
    }

    .rr-vertical{
        margin-top: 3rem;
    }
    
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
