<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCPenney</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="pub/js/items-5.js"></script>
    <script src="pub/js/script.js"></script>
    <link rel="stylesheet" href="pub/css/style.css">
</head>
<body ng-app="COProto" ng-controller="CO">
    <header>
    <!---
    <nav class="top">
        <div class="nav">
            <ul>
                <li><a href="">find store</a></li>
                <li><a href="">store ads</a></li>
                <li><a href="">gift cards</a></li>
                <li><a href="">registry</a></li>
            </ul>
            <ul>
                <li><a href="">my account</a></li>
                <li><a href="">saved items</a></li>
                <li><a href="">track order</a></li>
                <li><a href="">customer service</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </nav>
    -->
    <div class="main-header">
        <img class="logo" src="pub/img/jcp-logo.svg" alt="">
        <div class="search">
            <!--
            
            <input type="text" placeholder="enter search term or web id">
            <button></button>
           --> 
        </div>
        <div class="geo">
            <!--
            <img src="pub/img/location-icon.svg" alt="">
            <p>
                <strong>Your Store:</strong>
                Stone Briar Mall
                <a href="">change store</a>
            </p>

            -->
        </div>
        <div class="bag">
            <div class="bag-icon">
                {{ items.length }}
            </div>
            <p>bag <span>{{ subTotal | currency:'$' }}</span></p>
        </div>
        <div class="clear"></div>
    </div>
    <!--
    <nav class="main-nav">
        <ul>
            <li>for the home</li>
            <li>bed &amp; bath</li>
            <li>window</li>
            <li>women</li>
            <li>lingerie</li>
            <li>men</li>
            <li>juniors</li>
            <li>kids</li>
            <li>baby</li>
            <li>shoes</li>
            <li>handbags</li>
            <li>jewlery &amp; watches</li>
            <li>gifts</li>
            <li>sephora</li>
            <li>appliances</li>
            <li>clearance</li>
        </ul>
    </nav>
    -->
</header>

    <div class="steps-holder" id="steps-holder">
<div class="co-steps">
  <div ng-include="'dev/html/includes/svgs/done-check.html'"></div>
  <ul class="full">
    <li ng-class="{'ng-leave':steps.sameday==false,'ng-enter':steps.sameday==true, 'visited': test}" ng-click="returnSteps(1)">
        <span>
        <div ng-include="'dev/html/includes/svgs/same-day.html'"></div>

        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#sameday-icon"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="done-icon">
            <use xlink:href="#done-icon"></use>
        </svg>

        Same Day Pickup</span>
    </li>
    <li class="" ng-class="{'ng-leave':steps.shipping==false,'ng-enter':steps.shipping==true}" ng-click="returnSteps(2)">
        <span>
        <div ng-include="'dev/html/includes/svgs/shipping.html'"></div>

        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#shipping-icon"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="done-icon">
            <use xlink:href="#done-icon"></use>
        </svg>

        Shipping</span>
    </li>
    <li ng-class="{'ng-leave':steps.payment==false,'ng-enter':steps.payment==true}" ng-click="returnSteps(3)">
        <span>
        <div ng-include="'dev/html/includes/svgs/payment.html'"></div>

        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#payment-icon"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="done-icon">
            <use xlink:href="#done-icon"></use>
        </svg>

        Payment</span>
        </li>
    <li ng-class="{'ng-leave':steps.review==false,'ng-enter':steps.review==true}" ng-click="returnSteps(4)">
        <span>
        <div ng-include="'dev/html/includes/svgs/review.html'"></div>

        <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#review-icon"></use>
        </svg>
        <svg viewBox="0 0 32 32" class="done-icon">
            <use xlink:href="#done-icon"></use>
        </svg>

        Review</span>
    </li>
  </ul>
</div>
</div>

    <div class="container">
        <div class="main-steps-holder">
            <div class="loader-holder" ng-class="{'ng-leave':loading==false,'ng-enter':loading==true}">
                <div class="loader"></div>
            </div>
            <div class="step sameday" ng-include="'dev/html/includes/main-steps/sameday.html'" ng-class="{'ng-leave':steps.sameday==false,'ng-enter':steps.sameday==true}"></div>
            <div class="step shipping" ng-include="'dev/html/includes/main-steps/shipping.html'" ng-class="{'ng-leave':steps.shipping==false,'ng-enter':steps.shipping==true}"></div>
            <div class="step payment" ng-include="'dev/html/includes/main-steps/payment.html'" ng-class="{'ng-leave':steps.payment==false,'ng-enter':steps.payment==true}"></div>
            <div class="step review" ng-include="'dev/html/includes/main-steps/review.html'" ng-class="{'ng-leave':steps.review==false,'ng-enter':steps.review==true}"></div>
            <div class="step confirmation" ng-include="'dev/html/includes/main-steps/confirmation.html'" ng-class="{'ng-leave':steps.confirmation==false,'ng-enter':steps.confirmation==true}"></div>
            <div class="clear"></div>
        </div>
        <div class="right-rail">
            <div id="right-rail-holder" class="holder">
            <div class="top" id="top" ng-class="{'ng-leave':steps.review==false,'ng-enter':steps.review==true}">
    <div class="coupons-rewards">
        <div class="summary">
            <div class="c-r">
                <img src="pub/img/icons/icon-coupon-new.svg" alt="">
                <div>
                    <p>COUPONS</p>
                    <a href="#">find coupons</a>
                </div>
            </div>
            <div class="c-r">
                <img src="pub/img/icons/coupon-rewards.svg" alt="">
                <div>
                    <p>REWARDS</p>
                    <a href="#">get my rewards</a>
                </div>
            </div>
        </div>

        <form>
            <p ng-show="entryError" class="error">{{ crErrorMsg }}</p>
            <input type="text" ng-disabled="couponInvalid" placeholder="enter coupon or reward" ng-model="code">
            <input type="submit" class="input-submit" value="Apply" ng-click="codeEntry(code);">
        </form>

        <form class="serial-input" ng-show="serialEntry">
            <p ng-show="entryError2" class="error">Invalid serial code please try again.</p>
            <input type="text" ng-disabled="couponInvalid" placeholder="enter serial number" ng-model="serial">
            <input type="submit" class="input-submit" value="Apply" ng-click="codeEntry(code);">

        </form>

        
        <div class="clear"></div>

        <div class="coupons" ng-show="appliedcoupons">
            <h4>COUPONS <span>1 coupon allowed</span></h4>
            <p class="coupons" ng-repeat="coupon in coupons">
                {{ coupon.name }}
                <a href="#">apply</a>
            </p>
        </div>
        <div class="rewards" ng-show="appliedrewards">
            <h4>COUPONS <span>1 coupon allowed</span></h4>
            <p class="coupons" ng-repeat="coupon in coupons">
                {{ coupon.name }}
                <a href="#">remove</a>
            </p>
        </div>

    </div>
</div>


            <div id="bottom" class="bottom" ng-class="{'open':closeCR,'close':!closeCR}">
    <div class="pricing-summary">
        <h3>PRICING SUMMARY</h3>
        <p>
            merchandise subtotal
            <img src="pub/img/icons/tooltip.svg" alt="">
            <span>{{ subTotal | currency }}</span>
        </p>

        <div class="totaldiscounts" ng-show="appliedcoupons">
            <div>
                <p>
                    coupons
                    <span>
                    -{{ totalCoupon | currency:'$' }}
                    </span>
                </p>
            </div>
            <div ng-show="rewardSuccess">
                <span>rewards</span>
                <span class="coupon-list-price">-$10.00</span>
            </div>
        </div>

      <p ng-show="appliedcoupons || rewardSuccess">
        total after discounts
        <span>{{ subTotal - totalCoupon | currency }}</span>
      </p>

        <p>
            est. ship to home
            <img src="pub/img/icons/tooltip.svg" alt="">
            <span ng-hide="shipToHomeValue">FREE</span>
            <span ng-if="shipToHomeValue > 0">{{ shipToHomeValue | currency }}</span>
        </p>
        <p class="indent">or store <span>FREE</span></p>
        <p>same day pickup <span>FREE</span></p>

        <div class="order-total">
            <h3>
                ORDER SUBTOTAL
                <span>{{ finalTotal | currency }}</span>
            </h3>
            <p>tax is determined at checkout</p>
            <h4>total savings {{ totalSavings | currency }}</h4>
        </div>
    </div>

    <div class="clear"></div>

    <!-- Bottom checkout CTA -->
    <div class="checkout-cta" id="checkout-cta" style="display:none">
      <button class="checkout-cta-btn primary" ng-click="continue()">
          PLACE ORDER
      </button>
      <!--
      <img class="checkout-cta-btn" src="pub/img/paypal-btn.png" alt="" />
      <div class="free-shipping">
          <img src="pub/img/icons/truck.svg" alt="">
          <p><strong>FREE SHIPPING OVER $99</strong></p>
          <img src="pub/img/shipping-bar.png" alt="">
          <span>when selected at checkout</span>
      </div>
    </div>
    <!--
    <div class="round-up">
        <h4>ROUND UP FOR CHARIRTY</h4>
        <div class="input">
            <input type="checkbox"><span></span>
        </div>
        <p><strong>Yes, I want to round up for charity</strong>
        By roundin up your order total to the nearest dollar, you help jcp cares support this month’s partner charity.
        <a href="#">learn more</a>
        </p>
        <div class="clear"></div>
    </div>
    -->
</div>

            </div>
        </div>
        <img class="rr" src="pub/img/rr-vertical.png" alt="" ng-if="confirmation">
    </div>
        <div class="clear"></div>
    <footer>
  <!--
  <ul class="footer-ads">
    <li><img src="pub/img/ad.png" alt="" /></li>
  </ul>
  <br>
  -->
  <img src="pub/img/footer.jpg" alt="">
</footer>

<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
