<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCPenney</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/js-cookie/src/js.cookie.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="pub/js/items-5.js"></script>
    <script src="pub/js/script.js"></script>
    <link rel="stylesheet" href="pub/css/style.css">
</head>
<body ng-app="COProto" ng-controller="CO">
    <header>
    <!---
    <nav class="top">
        <div class="nav">
            <ul>
                <li><a href="">find store</a></li>
                <li><a href="">store ads</a></li>
                <li><a href="">gift cards</a></li>
                <li><a href="">registry</a></li>
            </ul>
            <ul>
                <li><a href="">my account</a></li>
                <li><a href="">saved items</a></li>
                <li><a href="">track order</a></li>
                <li><a href="">customer service</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </nav>
    -->
    <div class="main-header">
        <img class="logo" src="pub/img/jcp-logo.svg" alt="">
        <div class="search">
            <!--
            
            <input type="text" placeholder="enter search term or web id">
            <button></button>
           --> 
        </div>
        <div class="geo">
            <!--
            <img src="pub/img/location-icon.svg" alt="">
            <p>
                <strong>Your Store:</strong>
                Stone Briar Mall
                <a href="">change store</a>
            </p>

            -->
        </div>
        <div class="bag">
            <div class="bag-icon">
                {{ items.length }}
            </div>
            <p>bag <span>{{ subTotal | currency:'$' }}</span></p>
        </div>
        <div class="clear"></div>
    </div>
    <!--
    <nav class="main-nav">
        <ul>
            <li>for the home</li>
            <li>bed &amp; bath</li>
            <li>window</li>
            <li>women</li>
            <li>lingerie</li>
            <li>men</li>
            <li>juniors</li>
            <li>kids</li>
            <li>baby</li>
            <li>shoes</li>
            <li>handbags</li>
            <li>jewlery &amp; watches</li>
            <li>gifts</li>
            <li>sephora</li>
            <li>appliances</li>
            <li>clearance</li>
        </ul>
    </nav>
    -->
</header>

    <div class="container">
        <div class="signin-holder">
            <form action="">
                <div class="form">
                    <img src="pub/img/signin-form.png" alt="">
                    <img class="callouts" src="pub/img/create-acct-callout.png" alt="">
                </div>
            </form>
            <div class="guest">
                <img src="pub/img/or-divider.png" alt="">
                <div>
                    <img src="pub/img/guest.png" alt="">
                    <button class="secondary small" ng-click="goToCheckout();">CONTINUE AS GUEST</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <footer>
  <!--
  <ul class="footer-ads">
    <li><img src="pub/img/ad.png" alt="" /></li>
  </ul>
  <br>
  -->
  <img src="pub/img/footer.jpg" alt="">
</footer>

<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
