.confirmation{
    .header{
        h1{
            float:left;

            span{
                font-size:.875rem;
                color:$devy-gray;
                font-weight:normal;
                display:block;
            }
        }
        margin-bottom:2rem;
    }
    .right{
        float:right;

        a{
            margin-right:1rem;
        }
    }

    form{
        .signup-container{
            width: 650px;
            margin: 0 auto;
        }

        .callout{
          float: left;
          width: 50%;
          padding-left: 2rem;

          li{
            margin-bottom: 1rem;
            font-size: .875rem;
            height: 1.5rem;
            vertical-align: middle;

            .callout-img{
              float: left;
              width: 10%;
              text-align: center;

              img{
                vertical-align: middle;
                line-height: 1.5rem;
              }
            }

            p{
              float: left;
              line-height: 1.5rem;
              margin: 0px;
              padding-left: 1rem;
              vertical-align: middle;
              display: block;
              width: 90%;
            }
          }
        }

        &.signup{
            padding:1rem 0;
            margin-top: 2rem;
            border-bottom:1px solid $cement;
            border-top:1px solid $cement;

            h4{
              font-size: 1.125rem;
              margin: 1rem 0 1.5rem 0;
            }

            .form{
                margin:0 0 1rem 0;
                float:left;
                width:50%;
                padding-right: 2rem;

                .checkboxes{
                  margin: 0px;
                  padding: 0px;
                  font-size: .875rem;
                  color: $devy-gray;

                  p{
                    margin-left: -.75rem;
                    display: inline;
                  }

                  li{
                    margin-bottom: .25rem;
                  }

                  input{
                    left: 0;
                  }

                  span{
                    left: -1rem;
                  }
                }

                input[type="text"],
                input[type="password"]{
                  width: 100%;
                }

                .primary{
                  float: right;
                  margin-top: 1rem;
                }
            }
        }
    }
    .summary{
        margin-top:1rem;

        .info-snippet{
            float:left;

            strong,p{
                font-size:.875rem;
            }
            p{
                margin:0 0 0 .5rem;
                color:$devy-gray;
            }
            small{
                font-size:.75rem;
                color:$jet;
            }

            &.payment{
                margin:0 0 0 2rem;
            }
            &.financing{
                margin-top:2rem;

            }
        }
    }
    .items-group{
        margin-top:2rem;
        border:1px solid $cement;
        border-radius:2px;

        .top{
            padding:1rem;
            background:$ghost;
            border-bottom:1px solid $white-smoke;
        }
        .icon,.details{
            //display:inline-block;
            float:left;
        }
        .icon{
            width:2rem;
            vertical-align:top;
        }
        .details{
            width:90%;

            h5{
                margin:0;
                font-size:1rem;
            }
            .snippet{
                margin:.5rem 2rem 0 0;
                float:left;

                strong{
                    font-size:.75rem
                }
                p{
                    margin:0;
                    font-size:.75rem;
                    color:$devy-gray;
                }

                &.hrs{
                    margin-top:1.25rem;
                }
                &.instructions{
                    width:60%;
                }
            }
        }
        .items-list{
            padding:1rem;

            .item{
                width:100%;
                margin-bottom:1rem;
                padding-bottom:1rem;
                border-bottom:1px solid $white-smoke;

                &:last-child{
                    border:none;
                }

                p,h5{
                    margin:0;
                }
                p{
                    font-size:.75rem;
                }

                .img,.center,.right{
                    float:left;
                }
                .img{
                    width:10%;
                    margin-right:.5rem;
                }
                .center{
                    width:50%;

                    .title{
                        h5{
                            color:$jet;
                        }
                        p{
                            color:$devy-gray;
                        }
                    }
                    .sku,.fulfillment{
                        margin-top:.5rem;
                        width:50%;
                        float:left;

                        p{
                            color:$devy-gray;
                            font-size:.75rem;
                            margin:0;

                            strong {
                                color:$jet;
                            }
                        }
                    }
                }
                .right{
                    width:35%;
                    float:right;

                    .qty,
                    .price-stack{
                        float:left;
                        width:50%;

                        p,h4{
                            text-align:right;
                        }
                    }
                    .original{
                        color:$devy-gray;
                    }
                    .regular{
                        color:$devy-gray;
                    }
                    .sale{
                        color:$jcp-red;
                    }
                    .code{
                        color:$green;
                    }
                    hr{
                        border:none;
                        border-bottom:1px solid $cement;
                        margin: .25rem 0;
                    }
                    h4{
                        margin:0;
                        font-size:.75rem;
                    }
                    .discount{
                        margin-top:.5rem;
                        color:$green;

                    }
                }
            }
        }
    }
    .copyright{

        p{
            color:$jet;
            margin:0;
            font-size:.75rem;
            margin-top:1rem;

            &:last-child{
                color:$devy-gray;
            }
        }
    }
}
