// payment
.payment{

    .gift-card{
        .input-wrapper{
            display:inline-block;
            
            label{
                margin:0;
                display:inline-block;
                font-size:1rem;
                font-weight:bold;
            }
            p{
                color:$devy-gray;
                margin:0;
                font-weight:normal;
            }
        }
    }
    .payment-methods{
        margin:4rem 0 2rem 0;

        h2{
            margin:0;
            font-size:.875rem;
        }

        .card{
            cursor:pointer;
            position:relative;
            height:170px;

            .sub-text{
                opacity:0;
            }
            &.center{
                div{
                    white-space:nowrap;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); 

                    a{
                        display:block;
                        text-align:center;
                    }
                    p{
                        text-align:center;
                    }
                }
            }
            &.new-cc{
                a{
                    font-size:.875rem;
                }
                p{
                    font-size:.75rem;
                    color:$devy-gray;
                }
            }
            &.active-new{
                .sub-text{
                    @include fadeIn();
                }
            }
            &.paypal{
                img {
                    vertical-align:bottom;     
                }
                p{
                    font-size:.75rem;
                    color:$devy-gray;
                }
            }
            

        }
        .cc-input-form{
            padding:1rem;
            width:750px;
            margin-top:1rem;
            border-radius: 2px;
            border: 1px solid $cement;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);


            h4{
                margin:0 0 1rem 0;
            }
            .exp,
            .cvv{
                display:inline-block;
            }
            .exp{
                select{
                    margin-right:1rem;
                    height:30px;
                }
            }
            .cvv{
                img{
                    vertical-align:middle;
                }
            }
        }
    }
    .left,
    .right{
        width:50%;
        float:left;
    }
    .contact-information{
        width:750px;

        h2{
            font-size:1rem;
        }
        input[type="text"]{
            width:100%;
        }
        .email-offers{
            margin-left:1rem;

            .info{
                width:6%;
            }
            p{
                width:90%;
                float:left;
            }
        }
    }

 .billing{
    margin-top:1rem;
    width:750px;

    .form{
        display:none;
    }
    input[type="text"]{
        width:100%;
    }
    h4,
    p{
        margin:0;
        font-size:.875rem;
        color:$jet;
    }
   
    h4{
        margin-bottom:.5rem;
    }

    p{
        color:$devy-gray;
        margin-left:1rem;
    }
    .checkbox{
        font-size:.875rem;
        margin:1rem 0 0 -1.25rem;
    }
    .zip,
    .city,
    .state{
        width:31%;
    }

  }

  p{
    margin-bottom: .25rem;
    font-size: 0.875rem;
  }

    .short-field-info{
        float: left;
        margin: 0 0 0 1rem;
        width: 16rem;
        font-size: 0.75rem;
    }

  .short-field{
    margin-right: 2rem;

    input[type="text"]{
      border: 1px solid $cement;
      height: 1.75rem;
      float: left;
      border-radius: 2px 0px 0px 2px;
    }

    input[type="submit"]{
      color: white;
      font-size: 0.875rem;
      outline: none;
      background-color: $blue;
      font-weight: bold;
      border: none;
      text-transform: uppercase;
      float: left;
      width: 4.688rem;
      height: 1.75rem;
      border-radius: 0px 2px 2px 0px;
    }
  }

  label{
    display: block;
  }

  .error{
    clear: left;
  }

  .info{
    font-size: .875rem;
    float: left;
    position: relative;
  }

  .phone,
  .email{
    input[type="text"]{
      float: left;
    }

    .info{

      input[type="checkbox"],
      span{
        position: absolute;
        top: 0px;
        left: .65rem;
      }
    }
  }

  .sms-optin{
      margin-bottom:3rem; 

        .input-wrapper{
            display:inline-block;
        }

        label{
            margin:0;
            display:inline-block;
            font-size:.875rem;
            font-weight:bold;
        }

        .sms-phone{
            display:none;
            position:relative;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            border:1px solid $cement;
            padding:1rem;
            margin-top:1rem;
            width:750px;

            label{
                font-weight:normal;
                display:block;
            }
            .icon{
                float:left;
                margin-right:.5rem;
            }
            input[type="text"]{
                width:300px;
            }
            p{
                margin:0;
                font-size:.75rem;
                color:$devy-gray;
            }

            &:after{
                width: 0;
                height: 0;
                display: block;
                content: "";
                position: absolute;
                top: -.9rem;
                left: 5%;
                margin-left: -17px;
                border-left: 17px solid transparent;
                border-right: 17px solid transparent;
                border-bottom: 17px solid #fff;
            }

            &:before{
                width: 0;
                height: 0;
                display: block;
                content: "";
                position: absolute;
                top: -1rem;
                left: 5%;
                margin-left: -17px;
                border-left: 17px solid transparent;
                border-right: 17px solid transparent;
                border-bottom: 17px solid $cement;
            }
        }
  }

  .registered{
    display:none;

    .cards{
        ul{
            margin: 1rem 0 0 0;

            .card-payment-express{
                p{
                    font-size:.75rem;
                }
            }
        }
        .closeCard{
            position:absolute;
            height:100%;
            width:100%;
            top:0;
            left:0;
            z-index:6;
            background: $white;
            transition: all .5s;
            padding:1rem;

            h2{
                margin-top:2rem;
            }
            .confirm{
                border-top:1px solid $cement;
                margin-top:1rem;
                padding-top:.5rem;
                text-align:right;

                button{
                    margin-left:.5rem;
                }
            }
        }
    }  

    .cc-input-form{
        display:none;
    }

    .billing{
        width:100%;

        .form{
            margin-top:0;
            display:block;

            .confirm{
                margin-top:1rem;
                padding-top:1rem;
                border-top:1px solid $cement;
                text-align:right;

                button{
                    margin-left:1rem;
                }
            }
            
        }
    }
  }
  .guest{
    //display:none;

    .billing{
        .input-wrapper{
            margin-top:2rem;
        }
    }
  }
}
