// payment
.payment{

 .billing{

      h4,
      p{
          margin:0;
          font-size:.875rem;
          color:$jet;
      }
      p{
          color:$devy-gray;
          margin-left:1rem;
      }
      .checkbox{
          font-size:.875rem;
          margin:1rem 0 0 -2rem;
      }
  }

  p{
    margin-bottom: .25rem;
    font-size: 0.875rem;
  }

  .short-field-info{
    float: left;
    margin: 0 0 0 1rem;
    width: 16rem;
    font-size: 0.75rem;
  }

  .short-field{
    margin-right: 2rem;

    input[type="text"]{
      width: 12.5rem;
      border: 1px solid $cement;
      height: 1.75rem;
      float: left;
      border-radius: 2px 0px 0px 2px;
    }

    input[type="submit"]{
      color: white;
      font-size: 0.875rem;
      outline: none;
      background-color: $blue;
      font-weight: bold;
      border: none;
      text-transform: uppercase;
      float: left;
      width: 4.688rem;
      height: 1.75rem;
      border-radius: 0px 2px 2px 0px;
    }
  }

  label{
    display: block;
    width: 50%;
  }

  .error{
    clear: left;
  }

  .info{
    font-size: .875rem;
    width: 21rem;
    float: left;
    margin-left: 1rem;
    padding-left: 2rem;
    position: relative;
  }

  .phone,
  .email{
    input[type="text"]{
      float: left;
    }

    .info{

      input[type="checkbox"],
      span{
        position: absolute;
        top: 0px;
        left: .65rem;
      }
    }
  }
}

.tab-panel{
  background: #fff;

  ul{
    padding: 0;
    margin: 0;
  }

  .tab{
    cursor: pointer;
    width: 14.3rem;
    float: left;
    text-align: center;
    padding: .5rem;
    background-color: #fff;
    border-radius: 2px;
      -webkit-border-radius: 2px;
    border-left: 1px solid $cement;
    border-right: 1px solid $cement;
    border-bottom: 1px solid $cement;
    border-top: 3px solid $cement;
    background-color: #fafafa;

    &:nth-child(2){
      border-left: none;
    }

    &.active{
      border-top: 3px solid $link;
      background-color: #fff;
      border-bottom: 1px solid #fff;
    }
  }

  .tab-content{
    margin-top: -1px;
    padding: 1rem;
    border: 1px solid $cement;
    border-radius: 2px;
      -webkit-border-radius: 2px;

    h3{
      font-size: 0.875rem;
    }
  }

}
