.review{
    .header{
        img{
            vertical-align:baseline;
        }
        .icon{
          width: 2rem;
          height: 2rem;
          vertical-align: middle;
        }
    }
    .summary{
        margin-top:1rem;

        .info-snippet{
            float:left;
            margin-right: 4rem;

            strong,p{
                font-size:.875rem;
            }
            p{
                margin:0 0 0 .5rem;
                color:$devy-gray;
            }
            a{
              margin: 0 0 0 .5rem;
            }
            small{
                font-size:.75rem;
                color:$jet;
            }

            &.contact{
              .text-me{
                font-weight: bold;
                margin-top: 1rem;
              }
            }

            &.payment{
                strong{
                  display: block;
                }
                // margin:0 0 0 2rem;
                .cards{
                  float: left;
                  margin-right: 1.5rem;
                }

                .address{
                  float: left;
                }
            }
            &.financing{
                margin-top:2rem;

            }
        }
    }
    .items-group{
        margin-top:2rem;
        border:1px solid $cement;
        border-radius:2px;

        .top{
            padding:1rem;
            background:$ghost;
            border-bottom:1px solid $white-smoke;
        }
        .icon,.details{
            //display:inline-block;
            float:left;
        }
        .icon{
            width:2rem;
            vertical-align:top;
        }
        .details{
            width:90%;

            h5{
                margin:0;
                font-size:1rem;
            }
            .snippet{
                margin:.5rem 2rem 0 0;
                float:left;

                strong{
                    font-size:.75rem
                }
                p{
                    margin:0;
                    font-size:.75rem;
                    color:$devy-gray;
                }

                &.hrs{
                    margin-top:1.25rem;
                }
                &.instructions{
                    width:45%;
                }
            }
        }
        .items-list{
            padding:1rem;

            .est-delivery{
              margin: 0;
              font-size: 0.75rem;
              border-bottom: 1px solid $white-smoke;
              padding-bottom: .25rem;
              margin-bottom: .75rem;
            }

            .item{
                width:100%;
                margin-bottom:1rem;
                padding-bottom:1rem;
                border-bottom:1px solid $white-smoke;

                &:last-child{
                    border:none;
                }

                p,h5{
                    margin:0;
                }
                p{
                    font-size:.75rem;
                }

                .img,.center,.right{
                    float:left;
                }
                .img{
                    width:10%;
                    margin-right:.5rem;
                }
                .center{
                    width:50%;

                    .title{
                        h5{
                            color:$jet;
                        }
                        p{
                            color:$devy-gray;
                        }
                    }
                    .sku,.fulfillment{
                        margin-top:.5rem;
                        width:50%;
                        float:left;

                        p{
                            color:$devy-gray;
                            font-size:.75rem;
                            margin:0;

                            strong {
                                color:$jet;
                            }
                        }
                    }
                }
                .right{
                    width:35%;
                    float:right;

                    .qty,
                    .price-stack{
                        float:left;
                        width:50%;

                        p,h4{
                            text-align:right;
                        }
                    }
                    .original{
                        color:$devy-gray;
                    }
                    .regular{
                        color:$devy-gray;
                    }
                    .sale{
                        color:$jcp-red;
                    }
                    .code{
                        color:$green;
                    }
                    hr{
                        border:none;
                        border-bottom:1px solid $cement;
                        margin: .25rem 0;
                    }
                    h4{
                        margin:0;
                        font-size:.75rem;
                    }
                    .discount{
                        margin-top:.5rem;
                        color:$green;
                        display:none;
                    }
                }
            }
        }
    }
}

.rewards-points{
  padding-top: 2rem;

  .left{
    float: left;
    border-right: 1px solid $white-smoke;
    width: 44%;
    padding-right: 3rem;
  }
  .right{
    float: left;
    width: 56%;
    padding-left: 1rem;

    img{
      float: left;
    }

    .form{
      width: 68%;
      float: left;
      padding-left: 1rem;

      input[type="text"]{
        width: 214px;
        height: 32px;
        border-radius: 2px 0 0 2px;
          -webkit-border-radius: 2px 0 0 2px;
        border: 1px solid $devy-gray;
        border-right: none;
        display: inline-block;
        padding: 0 .5rem;
        outline: none;
        float: left;
      }

      input[type="submit"]{
        width: 76px;
        display: inline-block;
        height: 32px;
        background-color: $blue;
        border: none;
        outline: none;
        color: #fff;
        font-size: .75rem;
        font-weight: bold;
        color: #fff;
        border-radius: 0px 2px 2px 0px;
          -webkit-border-radius: 0px 2px 2px 0px;
      }
    }

    p{
      margin: 0 0 .25rem 0;
      font-size: 0.875rem;
    }

    h3{
      margin: 0;
    }

    small{
      margin-top: .5rem;
      display: block;
    }
  }
}
