.sameday{
    opacity:1;
    transition: all 1s;

    .pickup-select{
        margin:1rem 0 0 2rem;

        .input-wrapper{
            display:inline-block;
            margin-right:1rem
        }
    }
    hr{
    }
    .bopis-info{
        margin: 3rem 0 1rem 0;
    }
    form{
        margin-top:2rem;
        border:1px solid $white-smoke;
        width:50%;
        float: left;
        padding:1.25rem;
        border-radius:2px;
        margin-top:1rem;
        margin-right: 1.5rem;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);

        .location{
            border-bottom:1px solid $white-smoke;
            padding-bottom:1.25rem;

            .icon{
                float:left;
                margin-right:.5rem;
            }
            p,h5{
                margin:0
            }
            h5{
                font-size:.875rem;
                color:$jet;
                margin-bottom:.25rem;
                display:block;
            }
            p{
                font-size:.75rem;
                color:$devy-gray;
            }
            .snippet{
                float:left;

                &.hours{
                    margin:2rem 0 0 1rem;
                }
            }
        }
    }

    .form{
        margin:1rem 0 0 2rem;
        display:none;

        h4{
            margin:0 0 .5rem 0;
            font-size:.875rem;
            color:$jet;
        }
        input[type="text"]{
            width:80%;
        }
    }
    .callouts{
        margin:3rem auto;

        .callout{
            width:30%;
            margin:0 1%;
            float:left;

            .icon{
                float:left;
                width:15%;

                img{
                    width:100%;
                    height:auto;
                }
            }
            .snippet{
                width:79%;
                float:left;
                margin-left:1rem;

                h5,p{
                    margin:0;
                }
                h5{
                    color:$blue;
                    font-size:1rem;
                    margin-bottom:.25rem;
                }
                p{
                    font-size:.75rem;
                    color:$devy-gray;
                }
            }
        }
    }

    .pickup-items{
      float: left;
      margin-top: 1.09rem;
      width: 358px;
      border: 1px solid $cement;
      border-radius: 2px;
        -webkit-border-radius: 2px;

      .pickup-items-header{
        padding: 1rem;
        background-color: #fafafa;
        border-bottom: 1px solid $cement;
        border-radius: 2px 2px 0px 0px;
          -webkit-border-radius: 2px 2px 0px 0px;

        h3{
          margin: 0;
          font-size: 1rem;
          text-transform: uppercase;
        }

        img{
          vertical-align: middle;
          margin: 0;
          display: inline-block;
        }
      }

      .pickup-items-body{
        padding: 1rem;

        ul{
          margin: 0px;
          padding: 0px;
        }

        .pickup-items-body-meta{
          float: left;
          width: 258px;
        }

        img{
          float: left;
          margin-right: 1rem;
        }

        h2{
          margin: 0;
          font-size: .75rem;
        }

        .pickup-items-plan{
          border-top: 1px solid $cement;
          margin-top: .5rem;
          font-size: .75rem;
          padding-top: .5rem;

          img{
            float: none;
            vertical-align: middle;
          }

          h3{
            font-size: .75rem;
            margin: 0 0 .25rem 0;
          }
        }

        li{
          border-bottom: 1px solid $cement;
          padding-bottom: .5rem;
          margin-bottom: .75rem;
          overflow: auto;

          &:last-child{
            border-bottom: none;
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
        }
      }
    }
}
