// shipping
.shipping{
    .country{
      select{
        width: 375px !important;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        height: 1.875rem;
      }
    }

    .form{
        margin-top:2rem;
    }
    .sth{
        // opacity: 1;
        &.ng-enter{
            @include fadeInRight();
        }
        &.ng-leave{
            @include fadeOutLeft();
            position:absolute;
        }

        input[type="text"]{
          width: 100%;
        }

        .address-dropdown{
          border: 1px solid $cement;
          background: #fff;
          margin: -13px 0 0 0px;
          background: #FFFFFF;
          border: 1px solid #EEEEEE;
          box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.40);
          -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.40);
          border-radius: 2px;
          -webkit-border-radius: 2px;

          img{
            width: 1rem;
          }

          li{
            padding: .5rem 0 .5rem .5rem;
            border-bottom: 1px solid $cement;
            cursor: pointer;

            &:hover{
              background-color: #fafafa;
            }

            &:last-child{
              border-bottom: none;
            }
          }
        }
    }

    .sts{
        opacity:0;
        position:absolute;
        background: #fff;

        &.ng-enter label{
          display: inline;
        }

        button{
          position: absolute;
          top: 1.75rem;
          right: 1rem;
        }

        .icon{
          position: absolute;
          top: 1.75rem;
          left: 1rem;
        }

        &.ng-enter{
            @include fadeInRight();
            position: relative;
        }
        &.ng-leave{
            @include fadeOutLeft();
        }

        .store{
          margin: 0px;
        }

        .store-info{
          font-size: 0.875rem;
          float: left;
          margin: 0 1rem 2rem 0;
          padding: 0;
        }

        .form{

            label{
                display:block;
            }
        }
        .selected{
            border:1px solid $blue;

            h3,div{
                color:$blue;
            }
        }
    }

    .shipping-methods,
    .gift-wrap{
        margin-top:4rem;
    }
    .gift-wrap{
        a{
            margin-left:1rem;
        }
    }
    .cards{
        .card{
            height:130px;
            cursor:pointer;

            &.center{
                div{
                    white-space:nowrap;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); 

                    a{
                        display:block;
                        text-align:center;
                    }
                    p{
                        text-align:center;
                    }
                }
            }
        }
        
        .card-payment-info{
            width:100%;
            
            ul{
                margin-bottom:.5rem;
            }
        }
    }
    .store-select{
        margin-bottom:1rem;
        padding-bottom:1rem;
        border-bottom:1px solid $cement;
    }
    .guest{
        //display:none;

        form{
            width:750px;
        }
        .shipping-form{
            border: 1px solid $cement;
            padding: 1rem;
            margin-bottom: 1rem;
            position: relative;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
        }
        .save-trip{
            border: 1px solid $cement;
            padding: 1rem;
            margin-top: 1rem;
            position: relative;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

            p{
                margin:0 0 .5rem 0;
                font-size:.875rem;
            }

            .checkbox{
                span{
                    margin-left:-1.5rem;
                }
                input[type="checkbox"]{
                    left:0;
                }
                p{
                    display:inline;
                }
            }
        }
    }
    .registered{
       display:none; 
       
       .inner-container{
           width:750px;
       }
       .card{
           height:150px;

           .sub-text{
               opacity:0;
               font-size:.75rem;
           }

            &.home{
                h5{
                   font-weight:normal;
                   background:$ghost;
                   position:absolute;
                   width:234px;
                   left:2px;
                   top:2px;
                   margin:0;
                   padding:.25rem 1rem;
                }
                h3{
                    margin-top:1rem;
                }
            }

            &.active-new{
                .sub-text{
                    @include fadeIn();
                }
            }
       }
       .sth{
           label{
               display:block;
           }
            .shipping-form{
                display: none;
                border: 1px solid $cement;
                padding: 1rem;
                margin-top:1rem;
                margin-bottom: 1rem;
                position: relative;
                border-radius: 2px;
                -webkit-border-radius: 2px;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

                .confirm{
                    margin-top:1rem;
                    padding-top:1rem;
                    border-top:1px solid $cement;
                    text-align:right;

                    button{
                        margin-left:1rem;
                    }
                }
            }
        }
        .sts{
            width: 752px;

            .cards{
                border-bottom:1px solid $cement;

                .card{
                    div{
                        .hours{
                            margin-top:1rem;
                        }
                    }
                }
            }
            form{
                label{
                    display:block;
                }
            }
        }
    }
    .sts-info{
        margin-top:2rem;

        img{
            float:left;
            margin-right:1rem;
        }
        .text{
            width:400px;
        }
        h4{
            font-size:1rem;
            margin:0;
            color:$blue;
        }
        p{
            color:$devy-gray;
            margin:0;
            font-size:.75rem;
        }
    }

    .phone{
      width: 50%;
      float: left;

      &:first-child{
        padding-right: 1rem;
      }

      &:last-child{
        padding-left: 1rem;
      }
    }

}

// wells
.sm-btns{

  li{
    padding: 1rem;
    width: 48%;
    text-align: center;
    float: left;
    margin: 0 1rem 1rem 0;
    // margin: 0 .75rem .75rem 0;
    font-size: 0.875rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid $cement;
    min-width: 5rem;
    background-color: #fafafa;
    font-weight: bold;
    cursor: pointer;
    color: $devy-gray;

    &:nth-child(2){
      margin-right: 0px;
    }

    h3{
      margin: 0px;
      font-size: 0.875rem;
    }

    & > div{
      font-weight: normal;
    }

    &:hover{
      // background-color: lighten($cement, 12%);
      border-color: #afafaf;
    }
  }

  .active{
    // border: 2px solid $blue;
    box-shadow: inset 0px 0px 0px 2px $blue;
      -webkit-box-shadow: inset 0px 0px 0px 2px $blue;
    color: $blue;
    border: 1px solid $blue;

    &:hover{
      border-color: $blue;
    }
  }
}

// forms
.col-1-2{
  max-width: 50%;

  input[type="text"]{
    width: 100% !important;
  }
}

.col-1-3{
  max-width: 33.33%;

  input[type="text"]{
    width: 100% !important;
  }
}


.zip{
  width: 33.33%;
  float: left;
  margin-right: 1rem;

  input[type="text"]{
    width: 100%;
  }
}

.city{
  width: 33.33%;
  float: left;
  margin-right: 1rem;

  input[type="text"]{
    width: 100%;
  }
}

.state{
  float: left;
  width: 28%;

  select{
    width: 100%;
    height: 1.875rem;
  }
}

.options{
    margin-top:1.5rem;

    .input-wrapper{
        display:inline-block;
        margin-right:1rem;
    }
}

