<div class="header">
    <h1>
        ORDER CONFIRMATION #5162-2727-7112
        <span>
           Thank you {{ shippingForm.fname }} {{ shippingForm.lname }} for your order!
        </span>
    </h1>
    <div class="right">
        <a href="#">print page</a>
        <button class="secondary">KEEP SHOPPING</button>
    </div>
    <div class="clear"></div>
</div>

<div class="summary">
    <div class="info-snippet contact">
        <strong>Order Contact Information</strong>
        <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
        <p>{{ paymentForm.email }}<p>
        <p>{{ shippingForm.phone }}</p>
    </div>
    <div class="info-snippet payment">
        <strong>Payment Method</strong>
        <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
        <p>VISA ****2627</p>
    </div>
    <div class="clear"></div>
    <!--
    <div class="info-snippet financing">
        <strong>Special Financing Offer</strong>
        <p>Major Appliances – No Interest if paid in full within 18 months, $499 min. purchase</p>
        <p><small>This offer will be applied to the portion of your order total that is charged to your JCPenney credit card.</small></p>
    </div>
    -->
    <div class="clear"></div>
</div>

<form action="" class="signup">
    <div class="signup-container">
      <h4>Save your information for next time, create a JCPenney account!</h4>
      <div class="form">
          <label for="">Password<span>*</span></label>
          <input type="text" placeholder="enter your password">
          <label for="">Confirm Password<span>*<span></label>
          <input type="text" placeholder="confirm password">
          <br/>
          <ul class="checkboxes">
            <li><input type="checkbox" name="name" value=""><span></span><p>Set as your <strong>Express Checkout Payment</strong></p></li>
            <li><input type="checkbox" name="name" value=""><span></span><p>Enroll in JCPenney Rewards</p></li>
          </ul>
          <button class="primary small">CREATE ACCOUNT</button>
      </div>
      <ul class="callout">
        <li>
          <div class="callout-img">
            <img src="/pub/img/icons/express-checkout.svg" />
          </div>
          <p>
            Checkout faster with Express Checkout
          </p>
          <div class="clear"></div>
        </li>
        <li>
          <div class="callout-img">
            <img src="/pub/img/icons/truck.svg" />
          </div>
          <p>Easy access to order history</p>
          <div class="clear"></div>
        </li>
        <li>
          <div class="callout-img">
            <img src="/pub/img/icons/mobile.svg" width="17" />
          </div>
          <p>Access your account from any device</p>
          <div class="clear"></div>
        </li>
        <li>
          <div class="callout-img">
            <img src="/pub/img/icons/coupon-rewards.svg" />
          </div>
          <p>Earn &amp; redeem JCPenney Rewards</p>
          <div class="clear"></div>
        </li>
        <li>
          <div class="callout-img">
            <img src="/pub/img/icons/coupon-fill.svg" />
          </div>
          <p>Get coupons and sale notifications</p>
          <div class="clear"></div>
        </li>
          <!-- <img src="pub/img/create-acct-callout.png" alt=""> -->
      </ul>
      <div class="clear"></div>
    </div>
</form>

<div class="items-group sameday">
    <div class="top">
        <div class="icon">
            <img src="pub/img/icons/same-day.svg" alt="">
        </div>
        <div class="details">
            <h5>SAME DAY PICKUP ITEMS</h5>
            <div class="snippet addr">
                <p>Stone Briar Mall</p>
                <p>7262 Main Street</p>
                <p>Plano, TX 75034</p>
                <p>(214) 272-8271</p>
            </div>
            <div class="snippet hrs">
                <p>Mon-Fri: 10am - 9pm</p>
                <p>Sat-Sun: 11am - 10pm</p>
            </div>
            <div class="snippet alt">
                <strong>Pickup Person</strong>
                <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
                <p>{{ shippingForm.email }}<p>
                <p>{{ shippingForm.phone }}<p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="items-list">
        <div class="item" ng-repeat="item in items" ng-if="item.bopis==true">
            <img class="img" src="pub/img/products/{{item.img}}.png" alt="">
            <div class="center">
                <div class="title">
                    <h5>{{ item.name }}</h5>
                    <p>item #2827-828D</p>
                </div>
                <div class="sku">
                    <p ng-if="item.stock < 3">status: In Stock</p>
                    <p ng-if="item.options.color">color: {{item.options.color.set}}</p>
                    <p ng-if="item.options.size">size: {{item.options.size.set}}</p>
                    <p ng-if="item.options.width">width: {{item.options.width.set}}</p>
                </div>
                <div class="fulfillment">
                </div>
            </div>
            <div class="right">
                <p class="qty">qty:1</p>
                <div class="price-stack">
                    <p class="regular" ng-if="item.price.regular">
                        original {{item.price.regular | currency:'$'}}
                    </p>
                    <p class="original" ng-if="item.price.original">
                        original {{item.price.original | currency:'$'}}
                    </p>
                    <p class="sale" ng-if="item.price.sale">
                        sale {{item.price.sale | currency:'$'}}
                    </p>
                    <p class="code applied" ng-if="item.price.coupon.show">
                        FUNDEAL {{ item.price.coupon.amt | currency:'$'}}
                    </p>
                    <p class="code applied" ng-if="rewardSuccess">
                        <span ng-if="item.price.reward">
                          REWARD -{{ item.price.reward.amt | currency:'$'}}
                        </span>
                    </p>
                    <p ng-if="item.partsServices">
                      parts &amp; services $61.00
                    </p>
                    <hr/>
                    <h4>total {{ item.price.fprice | currency:'$' }}</h4>
                    <p class="original notapply" ng-if="item.price.coupon.show==false">
                    {{ item.brand }} item(s) does not qualify for FUNDEAL
                    </p>

                    <p class="discount">
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <img src="pub/img/bopis-info2.png" alt="">
    </div>
    </div>
</div>

<div class="items-group shipping">
    <div class="top">
        <div class="icon">
            <img src="pub/img/icons/shipping.svg" alt="">
        </div>
        <div class="details">
            <h5>SHIP TO HOME ITEMS</h5>
            <div class="snippet addr">
                <p>Luis Martinez</p>
                <p>2626 Franford Road</p>
                <p>Dallas, TX 75034</p>
                <p>(214) 272-8271</p>
            </div>
            <!--
            <div class="snippet alt">
                <strong>Alternate Phone</strong>
                <p>(214) 827-2829</p>
            </div>
            <div class="snippet instructions">
                <strong>Special Delivery Instructions</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare orci vitae ipsum faucibus, ut laoreet mi metus</p>
            </div>
            -->

            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="items-list">
        <div class="item" ng-repeat="item in items" ng-if="item.ship==true">
            <img class="img" src="pub/img/products/{{item.img}}.png" alt="">
            <div class="center">
                <div class="title">
                    <h5>{{ item.name }}</h5>
                    <p>item #2827-828D</p>
                </div>
                <div class="sku">
                    <p ng-if="item.stock < 3">status: In Stock</p>
                    <p ng-if="item.options.color">color: {{item.options.color.set}}</p>
                    <p ng-if="item.options.size">size: {{item.options.size.set}}</p>
                    <p ng-if="item.options.width">width: {{item.options.width.set}}</p>
                </div>
                <div class="fulfillment">
                    <p>est. delivery <strong>{{ item.estDelivery }}</strong></p>
                </div>
            </div>
            <div class="right">
                <p class="qty">qty:1</p>
                <div class="price-stack">
                    <p class="regular" ng-if="item.price.regular">
                        original {{item.price.regular | currency:'$'}}
                    </p>
                    <p class="original" ng-if="item.price.original">
                        original {{item.price.original | currency:'$'}}
                    </p>
                    <p class="sale" ng-if="item.price.sale">
                        sale {{item.price.sale | currency:'$'}}
                    </p>
                    <p class="code applied" ng-if="item.price.coupon.show">
                        FUNDEAL {{ item.price.coupon.amt | currency:'$'}}
                    </p>
                    <p class="code applied" ng-if="rewardSuccess">
                        <span ng-if="item.price.reward">
                          REWARD -{{ item.price.reward.amt | currency:'$'}}
                        </span>
                    </p>
                    <p ng-if="item.partsServices">
                      parts &amp; services $61.00
                    </p>
                    <hr/>
                    <h4>total {{ item.price.fprice | currency:'$' }}</h4>
                    <p class="original notapply" ng-if="item.price.coupon.show==false">
                    {{ item.brand }} item(s) does not qualify for FUNDEAL
                    </p>

                    <p class="discount">
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="copyright">
    <p>The order total above reflects special offers that were in effect at the time the order was placed. All orders are the credit or review. If you need futher assistance with your order or regarding JCPenney.com please call 1-800-322-1189.</p>
    <p>2015 J.C. Penney Corporation Inc. and/or JCP media 6501., Legacy Plano, Texas 75024,USA. All rights reserved.</p>
</div>

<div class="step-footer">
    <h4>
        <img src="pub/img/icons/secure-lock.svg" alt="">
        SECURE CHECKOUT
    </h4>
    <button class="secondary" ng-click="continue()">KEEP SHOPPING</button>
    <div class="clear"></div>
</div>
