<div class="header">
  <h1>
    <img src="pub/img/icons/creditcard.svg" alt="">
    PAYMENT
  </h1>
</div>

<!-- form -->
<form>
  <h2>JCPenney Gift Card</h2>
  <div class="short-field">
    <p>Enter gift card number</p>
    <input type="text" placeholder="enter gift card number"> <input type="submit" value="Apply">
    <p class="short-field-info">You may use up to 2 Gift Cards in combination with any payment method</p>
    <div class="clear"></div>
  </div>

  <h2>Select Payment Method</h2>
  <div class="tab-panel inner-container">
    <ul>
      <li class="tab active" ng-class="{ active: isSet(1) }" ng-click="setTab(1)"><img src="pub/img/icons/creditcard.svg"/> Credit Card</li>
      <li class="tab" ng-class="{ active: isSet(2) }" ng-click="setTab(2)"><img src="pub/img/icons/paypal.png"/> PayPal</li>
    </ul>
    <div class="clear"></div>
    <div class="tab-content" ng-show="isSet(1)">
      <h3>Enter your credit card information</h3>
      <label>JCPenney Card, Visa, Master Card, Discover, American Express</label>
      <input type="text" placeholder="5555 5555 5555 555">
    </div>
    <div class="tab-content" ng-show="isSet(2)">
      Checkout with Paypal. <br> <a href="#">Go to paypal.</a>
    </div>
  </div>

  <br>

  <h2 class="subhead">
    Order Contact Information
  </h3>

  <div class="email">
    <label>Email <span>*</span> <span class="form-tool-tip">Why do we need this <img src="pub/img/icons/tooltip.svg"></span></label>
    <input type="text" ng-class="{ inputError: paymentEmailError, inputValid: paymentEmailValid }" name="paymentForm.email" ng-model="paymentForm.email" placeholder="enter your email">

    <div class="info">
      <input type="checkbox" ng-checked="true">
      <span></span>
      Yes, sign me up to receive email offers, sales, coupons and more from JCPenney, its affiliates and licensees.
    </div>

    <span ng-if="paymentEmailError" class="error">This field is required</span>
  </div>

  <div class="clear"></div>

  <div class="phone">
    <label>Phone <span>*</span> <span class="form-tool-tip">Why do we need this <img src="pub/img/icons/tooltip.svg"></span></label>
    <input type="text" name="paymentForm.phone" ng-class="{ inputError: paymentPhoneError, inputValid: paymentPhoneValid }" name="paymentForm.phone" ng-model="paymentForm.phone" placeholder="(___) ___ - ____" ng-value="shippingForm.phone">

    <div class="info">
      <input type="checkbox">
      <span></span>
      Text me order status updates <br>
      <small>By providing my mobile number below, I agree to receive autodialed text status... <a href="#">full details</a></small>
    </div>

    <span ng-if="paymentPhoneError" class="error">This field is required</span>
  </div>
  <div class="clear"></div>

  <div class="billing">
      <h4>Billing Information</h4>
      <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
      <p>{{ shippingForm.field }}</p>
      <p>Plano, TX 75024</p>
      <p>{{ shippingForm.phone }}</p>

      <div class="checkbox">
          <input type="checkbox" ng-checked="true">
          <span></span>
          Use my shipping address for billing
      </div>
  </div>

  <div class="step-footer">
    <h4>
        <img src="pub/img/icons/secure-lock.svg" alt="">
        SECURE CHECKOUT
    </h4>
    <button class="primary" ng-click="continue()">{{nextStep}}</button>
    <div class="clear"></div>
  </div>

</form>
