<div id="paymentGuest" class="guest" ng-include="'dev/html/includes/main-steps/payment/guest.html'"></div>
<div id="paymentRegistered" class="registered" ng-include="'dev/html/includes/main-steps/payment/registered.html'"></div>
