<div class="header">
    <h1>
        <img src="pub/img/icons/review.svg" alt="">
        <!-- <svg viewBox="0 0 32 32" class="icon">
            <use xlink:href="#review-icon"></use>
        </svg> -->
        REVIEW
    </h1>
</div>
<div class="summary">
    <div class="info-snippet contact">
        <strong>Order Contact Information</strong>
        <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
        <p>{{ paymentForm.email }}<p>
        <p>{{ shippingForm.phone }}</p>
        <p class="text-me">Text me order status updates</p>
        <p>(214) 762-8279</p>
        <a href="#">edit</a>
    </div>
    <div class="info-snippet payment">
        <strong>Payment Information</strong>
        <div class="cards">
          <p>Gift Card: $78.00</p>
          <p>Credit Card: $178.00</p>
          <p>VISA ****2627</p>
        </div>
        <div class="address">
          <p>{{ shippingForm.company }}</p>
          <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
          <p>{{ shippingForm.field }}</p>
          <p>Dallas, TX 75927</p>
        </div>
        <div class="clear"></div>
        <a href="#">edit</a>
    </div>
    <div class="info-snippet payment">
        <strong>Text me order status updates</strong>
        <p>{{ shippingForm.phone }}</p>
    </div>
    <div class="clear"></div>

    <div class="info-snippet financing">
        <strong>Special Financing Offer</strong>
        <p>Major Appliances – No Interest if paid in full within 18 months, $499 min. purchase</p>
        <p><small>This offer will be applied to the portion of your order total that is charged to your JCPenney credit card.</small></p>
        <a href="#">edit</a>
    </div>
    <div class="clear"></div>

</div>
<div class="items-group sameday">
    <div class="top">
        <div class="icon">
            <img src="pub/img/icons/same-day.svg" alt="">
        </div>
        <div class="details">
            <h5>SAME DAY PICKUP ITEMS</h5>
            <div class="snippet addr">
                <p>Stone Briar Mall</p>
                <p>7262 Main Street</p>
                <p>Plano, TX 75034</p>
                <p>(214) 272-8271</p>
            </div>
            <div class="snippet hrs">
                <p>Mon-Fri: 10am - 9pm</p>
                <p>Sat-Sun: 11am - 10pm</p>
            </div>
            <div class="snippet alt">
                <strong>Pickup Person</strong>
                <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
                <p>{{ shippingForm.email }}<p>
                <p>{{ shippingForm.phone }}<p>
                <a href="#">edit</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="items-list">
        <div class="item" ng-repeat="item in items" ng-if="item.bopis==true">
            <img class="img" src="pub/img/products/{{item.img}}.png" alt="">
            <div class="center">
                <div class="title">
                    <h5>{{ item.name }}</h5>
                    <p>item #2827-828D</p>
                </div>
                <div class="sku">
                    <p ng-if="item.stock < 3">status: In Stock</p>
                    <p ng-if="item.options.color">color: {{item.options.color.set}}</p>
                    <p ng-if="item.options.size">size: {{item.options.size.set}}</p>
                    <p ng-if="item.options.width">width: {{item.options.width.set}}</p>
                </div>
                <div class="fulfillment">
                </div>
            </div>
            <div class="right">
                <p class="qty">qty:1</p>
                <div class="price-stack">
                    <p class="regular" ng-if="item.price.regular">
                        original {{item.price.regular | currency:'$'}}
                    </p>
                    <p class="original" ng-if="item.price.original">
                        original {{item.price.original | currency:'$'}}
                    </p>
                    <p class="sale" ng-if="item.price.sale">
                        sale {{item.price.sale | currency:'$'}}
                    </p>
                    <p class="code applied" ng-if="item.price.coupon.show">
                        FUNDEAL {{ item.price.coupon.amt | currency:'$'}}
                    </p>
                    <p class="code applied" ng-if="rewardSuccess">
                        <span ng-if="item.price.reward">
                          REWARD -{{ item.price.reward.amt | currency:'$'}}
                        </span>
                    </p>
                    <p ng-if="item.partsServices">
                      parts &amp; services $61.00
                    </p>
                    <hr/>
                    <h4>total {{ item.price.fprice | currency:'$' }}</h4>
                    <p class="original notapply" ng-if="item.price.coupon.show==false">
                    {{ item.brand }} item(s) does not qualify for FUNDEAL
                    </p>

                    <p class="discount">
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
      </div>
    </div>
</div>

<div class="items-group shipping">
    <div class="top">
        <div class="icon">
            <img src="pub/img/icons/shipping.svg" alt="">
        </div>
        <div class="details">
            <h5>SHIP TO HOME ITEMS</h5>
            <div class="snippet addr">
                <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
                <p>{{ shippingForm.field }}</p>
                <p>Plano, TX 75024</p>
                <p>{{ shippingForm.phone }}</p>
                <a href="#">edit</a>
            </div>
            <div class="snippet">
                <strong>Shipping Method</strong>
                <p>2 Day Shipping - $15.67</p>
            </div>
            <div class="snippet alt">
                <strong>Alternate Phone</strong>
                <p>(214) 827-2829</p>
            </div>
            <div class="snippet instructions">
                <strong>Special Delivery Instructions</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare orci vitae ipsum faucibus, ut laoreet mi metus</p>
            </div>

            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="items-list">
        <p class="est-delivery">These items will arrive in 3-5 business days. <strong>Est. delivery June 13th</strong></p>
        <div class="item" ng-repeat="item in items" ng-if="item.ship==true">
            <img class="img" src="pub/img/products/{{item.img}}.png" alt="">
            <div class="center">
                <div class="title">
                    <h5>{{ item.name }}</h5>
                    <p>item #2827-828D</p>
                </div>
                <div class="sku">
                    <p ng-if="item.stock < 3">status: In Stock</p>
                    <p ng-if="item.options.color">color: {{item.options.color.set}}</p>
                    <p ng-if="item.options.size">size: {{item.options.size.set}}</p>
                    <p ng-if="item.options.width">width: {{item.options.width.set}}</p>
                </div>
                <div class="fulfillment">
                    <p>est. delivery <strong>{{ item.estDelivery }}</strong></p>
                </div>
            </div>
            <div class="right">
                <p class="qty">qty:1</p>
                <div class="price-stack">
                    <p class="regular" ng-if="item.price.regular">
                        original {{item.price.regular | currency:'$'}}
                    </p>
                    <p class="original" ng-if="item.price.original">
                        original {{item.price.original | currency:'$'}}
                    </p>
                    <p class="sale" ng-if="item.price.sale">
                        sale {{item.price.sale | currency:'$'}}
                    </p>
                    <p class="code applied" ng-if="item.price.coupon.show">
                        FUNDEAL {{ item.price.coupon.amt | currency:'$'}}
                    </p>
                    <p class="code applied" ng-if="rewardSuccess">
                        <span ng-if="item.price.reward">
                          REWARD -{{ item.price.reward.amt | currency:'$'}}
                        </span>
                    </p>
                    <p ng-if="item.partsServices">
                      parts &amp; services $61.00
                    </p>
                    <hr/>
                    <h4>total {{ item.price.fprice | currency:'$' }}</h4>
                    <p class="original notapply" ng-if="item.price.coupon.show==false">
                    {{ item.brand }} item(s) does not qualify for FUNDEAL
                    </p>

                    <p class="discount">
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="rewards-points">
  <div class="left">
    <p>
      Review your order details above and make necessary changes. Once all information is correct, click <strong>PLACE ORDER</strong> to finalize this order
    </p>
  </div>
  <div class="right">
    <img src="pub/img/rewards-cards.png" />
    <div class="form">
      <h3>Earn JCPenney Reward points</h3>
      <p>Enter your JCPenney Rewards Card number</p>
      <input type="text">
      <input type="submit" value="APPLY">
      <small>Enter a valid 12 digit rewards number.</small>
    </div>
  </div>
</div>
