<div class="header">
    <h1>
        <img src="pub/img/icons/same-day.svg" alt="">
        SAME DAY PICKUP
    </h1>
</div>

<form action="">
    <div class="location">
        <div class="icon">
            <img src="pub/img/icons/location.svg" alt="">
        </div>
        <div class="store">
            <div class="snippet">
                <h5>Stonebriar Mall</h5>
                <p>7262 Main Street</p>
                <p>Plano, TX 75034</p>
                <p>(214) 272-8271</p>
            </div>
            <div class="snippet hours">
                <p>Mon-Fri: 10am - 9pm</p>
                <p>Sat-Sun: 11am - 10pm</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="pickup-select">
        <h2>Who will pickup these items?</h2>
        <div class="input-wrapper">
            <input type="radio" name="sdRadio" id="sdRadio1" ng-click="iwill();" ng-checked="true">
            <label for="sdRadio1">
                I will
            </label>
        </div>
        <div class="input-wrapper">
            <input type="radio" name="sdRadio" id="sdRadio2" ng-click="someoneelse()">
            <label for="sdRadio2">
                Somone Else
            </label>
        </div>
    </div>

    <div class="form" id="someoneelse">
        <h4>Enter their contact information</h4>
        <label>First Name<span>*</span></label>
        <input type="text">

        <label>Last Name<span>*</span></label>
        <input type="text">

        <label>Email<span>*</span></label>
        <input type="text">

        <label>Phone Number<span>*</span></label>
        <input type="text">
    </div>
</form>

<div class="pickup-items">
  <div class="pickup-items-header">
    <h3><img src="pub/img/icons/same-day.svg" alt="same day pickup items" />
    Same Day Pickup Items</h3>
  </div>
  <div class="pickup-items-body">
    <ul>
      <li>
        <img src="pub/img/products/product1.png" width="50px" height="50px" alt="title of product" />
        <div class="pickup-items-body-meta">
          <h2>KitchenAid® Artisan® 5-qt. Stand ...</h2>
        </div>
      </li>
      <li>
        <img src="pub/img/products/product1.png" width="50px" height="50px" alt="title of product" />
        <div class="pickup-items-body-meta">
          <h2>KitchenAid® Artisan® 5-qt. Stand ...</h2>
          <div class="pickup-items-plan">
            <h3>Protection Plan</h3>
            <span>3 yrs protection plan <img src="pub/img/icons/tooltip.svg" /></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="clear"></div>

<div class="step-footer">
    <h4>
        <img src="pub/img/icons/secure-lock.svg" alt="">
        SECURE CHECKOUT
    </h4>
    <button class="primary" ng-click="continue()">{{nextStep}}</button>
    <div class="clear"></div>
</div>
