<div class="header">
    <h1>
        <img src="pub/img/icons/shipping.svg" alt="">
        SHIPPING
    </h1>
</div>

<form action="">
    <div>
        <h2>Where will you ship your items?</h2>
        <input type="radio" name="shipto" value="home" ng-model="shipto" ng-checked="true">
        <span></span>
        <label for="shipto" class="iwill">Ship to Home</label>

        <input type="radio" name="shipto" value="store" ng-model="shipto">
        <span></span>
        <label for="pickupperson">Ship to Store</label>
    </div>

    <!-- STH -->
    <div class="form sth" ng-class="{'ng-leave':shipto=='store','ng-enter':shipto=='home'}">
        <img src="pub/img/shipping-body.png" alt="">
    </div>

    <!-- STS -->
    <div class="form sts" ng-class="{'ng-leave':shipto=='home','ng-enter':shipto=='store'}">
        <img src="pub/img/sts-body.png" alt="">
    </div>
    <div class="clear"></div>
</form>

<div class="step-footer">
    <h4>
        <img src="pub/img/icons/secure-lock.svg" alt="">
        SECURE CHECKOUT
    </h4>
    <button class="primary" ng-click="continue()">{{nextStep}}</button>
    <div class="clear"></div>
</div>

