<div id="shippingGuest" class="guest" ng-include="'dev/html/includes/main-steps/shipping/guest.html'"></div>
<div id="shippingRegistered" class="registered" ng-include="'dev/html/includes/main-steps/shipping/registered.html'"></div>

<!-- footer -->
<div class="step-footer">
    <h4>
      <img src="pub/img/icons/secure-lock.svg" alt="">
      SECURE CHECKOUT
    </h4>
    <button class="primary" ng-click="continue()">{{nextStep}}</button>
    <div class="clear"></div>
</div>

