<div class="header">
  <h1>
    <img src="pub/img/icons/creditcard.svg" alt="">
    PAYMENT - GUEST
  </h1>
  <a href="" ng-click="paymentViewToggle();">toggle</a>
</div>

<!-- form -->
<form>
    <div class="gift-card">
        <div class="input-wrapper">
          <input type="checkbox" id="prChkbox">
          <label for="prChkbox">
               Use a JCPenney gift card
               <p>You may use up to 2 Gift Cards</p>
          </label>
        </div>
    </div>
  
    <div class="payment-methods">
      <h2>Select Payment Method</h2>

        <div class="cards">
          <ul>
            <li class="card center new-cc active active-new">
               <div>
                   <a href=""><span>+</span> Enter a credit card</a>
                   <p>Enter credit card details below</p>
               </div>
            </li>
            <li class="card center paypal">
               <div>
                   <p>
                       <strong>
                           <img src="pub/img/icons/paypal.png" alt="">
                           PayPal
                       </strong>
                   </p>
                   <a href="">go to PayPal</a>
                   <p>You will return to review your order</p>
               </div>
            </li>
          </ul>
        </div>

        <div class="cc-input-form">
            <h4>Enter credit card</h4>
            <label for="">JCPenney Card, Visa, Master Card, Discover, American Express</label>
            <input type="text">
            <div class="clear"></div>

            <div class="exp">
                <label>Expiration Date</label>
                <select>
                    <option value="">MM</option>
                </select>
                <select>
                    <option value="">YYYY</option>
                </select>
            </div>
            <div class="cvv">
                <label for="">Card Verificaiton Number</label>
                <input type="text">
                <img src="pub/img/icons/cvv.png" alt="">
            </div>
            <div class="clear"></div>
        </div>
    </div>

  <div class="contact-information">
      <h2>
        Order Contact Information
      </h2>

      <div class="left">
          <div class="email">
            <label>Email <span>*</span> <span class="form-tool-tip">Why do we need this <img src="pub/img/icons/tooltip.svg"></span></label>
            <input type="text" ng-class="{ inputError: paymentEmailError, inputValid: paymentEmailValid }" name="paymentForm.email" ng-model="paymentForm.email" placeholder="enter your email">

            <span ng-if="paymentEmailError" class="error">This field is required</span>
          </div>
          <div class="clear"></div>
          <div class="phone">
            <label>Phone <span>*</span> <span class="form-tool-tip">Why do we need this <img src="pub/img/icons/tooltip.svg"></span></label>
            <input type="text" name="paymentForm.phone" ng-class="{ inputError: paymentPhoneError, inputValid: paymentPhoneValid }" name="paymentForm.phone" ng-model="paymentForm.phone" placeholder="555 555 5555" ng-value="shippingForm.phone">

            <span ng-if="paymentPhoneError" class="error">This field is required</span>
          </div>
      </div>
      <div class="right">
          <div class="email-offers">
            <div class="input-wrapper">
                <input type="checkbox" id="offersOptIn">
                <label for="offersOptIn">Yes, sign me up to receive email offers, sales, coupons and more from JCPenney, its affiliates and licensees.
</label>
            </div>
          </div>
      </div>
    </div>

  <div class="clear"></div>
  <div class="sms-optin">
      <div class="input-wrapper">
          <input type="checkbox" ng-checked="unchecked" id="smsOptIn">
          <label for="smsOptIn" ng-click="smsOptIn();">
            Text me order status updates (optional)
          </label>
      </div>
      <div id="smsPhone" class="sms-phone">
          <div class="icon">
              <img src="pub/img/icons/mobile.svg" alt="">
          </div>
          <div class="phone">
              <label>Mobile Phone<span>*</span></label>
              <input type="text" placholder="555 555 5555">
          </div>
          <div class="clear"></div>
          <p>By providing my mobile number below, I agree to receive autodialed text status alerts about my order (including a ready for pickup alert) from JCPenney (65566) at that number. <span>Number of messages depends on order status. Consent is not a condition of purchase. I understand I may receive a confirmation text message that I must reply to with “Y” to complete registration for this service. Message and data rates may apply. View <a href="#">terms and conditions</a>. View link below for privacy policy. For help, reply <strong>HELP</strong> to 65566. To cancel alerts, reply <strong>STOP</strong> to 65566. Email order status updates will also be sent. <span><a href="#" ng-click="smsTCs()">full details</a></p>
      </div>
      <div class="clear"></div>
  </div>

  <div class="billing">
      <h4>Billing Information</h4>
      <div id="billingSummary" class="summary">
          <p>{{ shippingForm.fname }} {{ shippingForm.lname }}</p>
          <p>{{ shippingForm.field }}</p>
          <p>Plano, TX 75024</p>
          <p>{{ shippingForm.phone }}</p>
      </div>
      <div id="billingForm" class="form">
          <div class="left">
              <label>First Name <span>*</span></label>
              <input type="text">
              
              <label>Last Name <span>*</span></label>
              <input type="text">
          </div>
          <div class="clear"></div>
          <label>Street Address <span>*</span></label>
          <input type="text">
          <label>Apt, Suite, Floor (optional)</label>
          <input type="text">
          <div class="zip">
              <label>Zip Code <span></span></label>
              <input type="text">
          </div>
          <div class="city">
              <label>City <span>*</span></label>
              <input type="text">
          </div>
          <div class="state">
              <label>State <span>*</span></label>
              <select>
                  <option value="">select a state</option>
              </select>
          </div>
          <div class="clear"></div>
      </div>


      <div class="input-wrapper">
          <input type="checkbox" id="sameAsShipping" ng-checked="!billingShowForm">
          <label for="sameAsShipping" ng-click="billingToggle()">Use my shipping address for billing</label>
      </div>

  </div>

  <div class="step-footer">
    <h4>
        <img src="pub/img/icons/secure-lock.svg" alt="">
        SECURE CHECKOUT
    </h4>
    <button class="primary" ng-click="continue()">{{nextStep}}</button>
    <div class="clear"></div>
  </div>

</form>
