<div class="header">
  <h1>
    <img src="pub/img/icons/creditcard.svg" alt="">
    PAYMENT - REGISTERED
  </h1>
  <a href="" ng-click="paymentViewToggle();">toggle</a>
</div>

<!-- form -->
<form>
    <div class="gift-card">
        <div class="checkbox">
          <input type="checkbox" ng-checked="false">
          <span></span>
          <h3>
            User a JCPenney gift card
            <p>You may use up to 2 Gift Cards</p>
          </h3>
        </div>
    </div>

  
    <div class="payment-methods">
      <h2>Select Payment Method</h2>
        <div class="cards">
          <ul>
              <li class="card" ng-click="selectCard($event);">
              <div class="closeCard">
                 <h2>This address will be deleted from your profile</h2>
                 <div class="confirm">
                     <a href="#">cancel</a>
                     <button class="button secondary small">OK</button>
                 </div>
              </div>

              <img class="card-close" src="/pub/img/icons/close.svg" ng-click="deleteCard();">
              <h3>Luis Martinez</h3>
              <div class="card-payment-info">
                <ul>
                  <li>3423 Main Street</li>
                  <li>Plano, TX 74226</li>
                  <li><a href="#">edit address</a></li>
                </ul>
              </div>

              <div class="card-payment-info number">
                <ul>
                  <li>JCP ****7162</li>
                  <li>exp 02/20</li>
                  <li><a href="#">edit card</a></li>
                </ul>
              </div>

              <div class="clear"></div>

              <div class="card-payment-express">
                <input type="checkbox"><span></span> <p>set as Express Checkout payment</p>
                <img src="http://placehold.it/40x25" />
              </div>
            </li>

            <li class="card" ng-click="selectCard($event);">
              <img class="card-close" src="/pub/img/icons/close.svg">
              <h3>Luis Martinez</h3>
              <div class="card-payment-info">
                <ul>
                  <li>3423 Main Street</li>
                  <li>Plano, TX 74226</li>
                  <li><a href="#">edit address</a></li>
                </ul>
              </div>

              <div class="card-payment-info number">
                <ul>
                  <li>JCP ****7162</li>
                  <li>exp 02/20</li>
                  <li><a href="#">edit card</a></li>
                </ul>
              </div>

              <div class="clear"></div>

              <div class="card-payment-express">
                <input type="checkbox"><span></span> <p>set as Express Checkout payment</p>
                <img src="http://placehold.it/40x25" />
              </div>
            </li>
            <li class="card" ng-click="selectCard($event);">
              <img class="card-close" src="/pub/img/icons/close.svg">
              <h3>Luis Martinez</h3>
              <div class="card-payment-info">
                <ul>
                  <li>3423 Main Street</li>
                  <li>Plano, TX 74226</li>
                  <li><a href="#">edit address</a></li>
                </ul>
              </div>

              <div class="card-payment-info number">
                <ul>
                  <li>JCP ****7162</li>
                  <li>exp 02/20</li>
                  <li><a href="#">edit card</a></li>
                </ul>
              </div>

              <div class="clear"></div>

              <div class="card-payment-express">
                <input type="checkbox"><span></span> <p>set as Express Checkout payment</p>
                <img src="http://placehold.it/40x25" />
              </div>
            </li>

         </ul>
         <div class="clear"></div>
          <ul>
            <li id="newCard" class="card center new-cc" ng-click="selectCard($event,newCard=true);">
               <div>
                   <a href=""><span>+</span> Add new credit card</a>
                   <p class="sub-text">Enter credit card details below</p>
               </div>
            </li>
            <li class="card center paypal">
               <div>
                   <p>
                       <strong>
                           <img src="pub/img/icons/paypal.png" alt="">
                           PayPal
                       </strong>
                   </p>
                   <a href="">go to PayPal</a>
                   <p>You will return to review your order</p>
               </div>
            </li>
          </ul>
        </div>

        <div id="newCardEntry" class="cc-input-form">
            <h4>Enter credit card</h4>
            <label for="">JCPenney Card, Visa, Master Card, Discover, American Express</label>
            <input type="text">
            <div class="clear"></div>

            <div class="exp">
                <label>Expiration Date</label>
                <select>
                    <option value="">MM</option>
                </select>
                <select>
                    <option value="">YYYY</option>
                </select>
            </div>
            <div class="cvv">
                <label for="">Card Verificaiton Number</label>
                <input type="text">
                <img src="pub/img/icons/cvv.png" alt="">
            </div>
            <div class="clear"></div>

        <div class="billing">
          <h4>Enter your billing information</h4>
           <div id="billingForm" class="form">
              <div class="left">
                  <label>First Name <span>*</span></label>
                  <input type="text">
                  
                  <label>Last Name <span>*</span></label>
                  <input type="text">
              </div>
              <div class="clear"></div>
              <label>Street Address <span>*</span></label>
              <input type="text">
              <label>Apt, Suite, Floor (optional)</label>
              <input type="text">
              <div class="zip">
                  <label>Zip Code <span></span></label>
                  <input type="text">
              </div>
              <div class="city">
                  <label>City <span>*</span></label>
                  <input type="text">
              </div>
              <div class="state">
                  <label>State <span>*</span></label>
                  <select>
                      <option value="">select a state</option>
                  </select>
              </div>
              <div class="clear"></div>
              <div class="confirm">
                  <a href="">cancel</a>
                  <button class="button secondary small">DONE</button>
              </div>
          </div>
       </div>

        </div>
    </div>

  
  <div class="clear"></div>

  <div class="step-footer">
    <h4>
        <img src="pub/img/icons/secure-lock.svg" alt="">
        SECURE CHECKOUT
    </h4>
    <button class="primary" ng-click="continue()">{{nextStep}}</button>
    <div class="clear"></div>
  </div>

</form>
