<!-- header -->
<div class="header">
  <h1>
    <img src="pub/img/icons/shipping.svg" alt="">
    SHIPPING - GUEST
  </h1>
  <a href="" ng-click="shippingViewToggle();">toggle</a>
</div>

<!-- form -->
<form>
  <h2>Where will you ship these items?</h2>
  <div class="options">
    <div class="input-wrapper">
        <input type="radio" ng-model="shippingLocation" value="shipToHome" name="shippingLocation" ng-checked="true" id="gsSTH">
        <label for="gsSTH">Ship to Home</label>
    </div>
    <div class="input-wrapper">
        <input type="radio" ng-model="shippingLocation" value="shipToStore" name="shippingLocation" id="gsSTS">
        <label for="gsSTS">Ship to Store</label>
    </div>
  </div>

  <div class="form" autocomplete="off">
    <!-- STH -->
    <div class="sth" ng-class="{'ng-leave':shippingLocation=='shipToStore','ng-enter':shippingLocation=='shipToHome'}">
      <div class="shipping-form">
      <div class="country">
        <h2>Enter your shipping information</h2>
        <label>Country or APO/FPO/DPO</label>
        <select>
          <option>United States</option>
          <option>APO/FPO/DPO</option>
        </select>
        <a href="#">Ship to another country</a>
      </div>


      <div class="inner-container">
        <div class="col-1-2">
          <label>First Name <span>*</span></label>
          <input type="text" name="shippingForm.fname" ng-class="{ inputError: shippingFormError, inputValid: shippingFormValid }" ng-model="shippingForm.fname">
          <span ng-if="shippingFormError" class="error">This field is required</span>
        </div>

        <div class="col-1-2">
          <label>Last Name <span>*</span></label>
          <input class="med-input" name="shippingForm.lname" ng-class="{ inputError: lnameError, inputValid: lnameValid }" type="text" ng-model="shippingForm.lname">
          <span ng-if="lnameError" class="error">This field is required</span>
        </div>

        <label>Street Address <span>*</span></label>
        <input name="shippingForm.field" ng-class="{ inputError: streetError, inputValid: streetValid }" ng-model="shippingForm.field" type="text">
        <span ng-if="streetError" class="error">This field is required</span>

        <ul class="address-dropdown" ng-hide="shippingFormHide" ng-show="shippingForm.field.length" id="form">
          <li ng-model="address" ng-click="setAddress('6701 Legacy St')"><img src="pub/img/icons/location.svg" /> 6701 Legacy St Plano, TX 75024</li>
          <li ng-model="address" ng-click="setAddress('6701 Legacy St')"><img src="pub/img/icons/location.svg" /> 6701 Legacy St Benbook, TX 78203</li>
          <li ng-model="address" ng-click="setAddress('6701 Legacy St')"><img src="pub/img/icons/location.svg" /> 6701 Legacy St Richland Hills, TX 74602</li>
        </ul>

        <div>
          <label>Company (optional)</label>
          <input type="text" ng-model="shippingForm.company">

          <label>Apt, Suite, Floor (optional)</label>
          <input type="text" ng-model="shippingForm.apt">

          <div class="clear"></div>

          <div class="zip">
            <label>Zip Code <span>*</span></label>
            <input type="text" value="75024">
          </div>

          <div class="city">
            <label>City <span>*</span></label>
            <input class="sml-input" type="text" value="Plano">
          </div>

          <div class="state">
            <label>State <span>*</span></label>
            <select>
              <option ng-model="shippingForm.state" value="TX">Texas</option>
            </select>
          </div>

          <div class="clear"></div>

          <div class="phone">
            <label>Phone Number <span>*</span> <span class="form-tool-tip">Why do we need this<img src="pub/img/icons/tooltip.svg"></span></label>
            <input class="med-input" name="shippingForm.phone" ng-class="{ inputError: phoneError, inputValid: phoneValid }" type="text" ng-model="shippingForm.phone">
            <span ng-if="phoneError" class="error">This field is required</span>
          </div>

          <div class="phone">
            <label>Phone Number <span>*</span> <span class="form-tool-tip">Why do we need this<img src="pub/img/icons/tooltip.svg"></span></label>
            <input class="med-input" name="shippingForm.phone" ng-class="{ inputError: phoneError, inputValid: phoneValid }" type="text">
            <span ng-if="phoneError" class="error">This field is required</span>
          </div>
        </div>
      </div>
      <!-- inner-container -->
      <div class="clear"></div>
    </div> <!-- .shipping form -->

    <!-- shipping methods -->
      <div class="inner-container shipping-methods">
        <div class="subhead">
          <h2>
            <img src="pub/img/track-order-icon.svg" alt="shipping method" />
            Select shipping method
          </h2>
          <p ng-hide="showShippingMethod">Enter your address to view shipping methods.</p>
        </div>
      </div>
      <div ng-show="showShippingMethod" class="inner-container">
        <ul class="sm-btns">
          <li class="active" ng-class="{ active: isSMSet(1) }" ng-click="setSMTab(1, 0)">
            <h3>Free standard shipping</h3>
            <div>est. delivery: Jun 17th - Jun 21st</div>
          </li>
          <li ng-class="{ active: isSMSet(2) }" ng-click="setSMTab(2, 37.50)">
            <h3>1 Day Shipping - $37.50</h3>
            <div>est. delivery: Jul 12th - Jun 15th</div>
          </li>
          <li ng-class="{ active: isSMSet(3) }" ng-click="setSMTab(3, 12.00)">
            <h3>2 Day Shipping - $12.00</h3>
            <div>est. delivery: Jul 12th - Jun 15th</div>
          </li>
        </ul>
      </div>
      <div class="clear"></div>

        <!-- gift wrap options -->
        <div class="subhead gift-wrap">
            <h2><img src="pub/img/icons/gift.svg"> Gift Wrap</h2>
            <a href="">add gift wrap options</a>
        </div>
    </div> <!-- .sth -->
    </div> <!-- .form -->

    <!-- STS -->
    <div class="sts" ng-class="{'ng-leave':shippingLocation=='shipToHome','ng-enter':shippingLocation=='shipToStore'}">
        
      <div class="store-select">
      <h2>Select a store</h2>
      <div class="cards">
          <ul>
              <li class="card active active-new">
                <h3>Stonebriar Mall</h3>
                <div class="card-payment-info">
                    <ul>
                        <li>8982 Preston Road</li>
                        <li>Frisco, TX 74226</li>
                    </ul>
                    <ul>
                        <li>Mon-Fri: 10am - 9pm</li>
                        <li>Sat-Sun: 10am - 10pm</li>
                    </ul>
                </div>
              </li>
              <li class="card center">
                <div class="card-payment-info">
                    <a href="">select new store</a>
                </div>
              </li>
          </ul>
      </div>

      <div class="save-trip">
          <p>Save a trip, pick up all your items at <strong>Stonebriar Mall before July 22</strong></p>
        <div class="input-wrapper">
            <input type="checkbox" id="saveTrip">
            <label for="saveTrip">Yes, I'd like to pikcup all items at once.</label>
        </div>
      </div>

      </div>

      <div class="pickup-person">
          <!--
          <h2>Who will pickup the items shipped to the store?</h2>
          <div class="options">
              <div class="input-wrapper">
                  <input type="radio" value="iWillPickupChange" name="pickupChangeStore" ng-checked="true" id="" ng-click="iwillSTS();">
                  <label for="shippingLocation">I will pickup</label>
              </div>
              <div class="input-wrapper">
                  <input type="radio" value="someoneElsePickupChange" name="pickupChangeStore" ng-click="someoneelseSTS();">
                  <label for="shippingLocation">Someone else will pickup</label>
              </div>
          </div>
          -->

          <div class="form" >
            <h4>Enter the contact information of the pickup up person</h4>
            <label>First Name<span>*</span></label>
            <input type="text">

            <label>Last Name<span>*</span></label>
            <input type="text">

            <label>Phone Number (optional)</label>
            <input type="text">
          </div>

      </div>
      <div class="sts-info">
          <img src="pub/img/icons/sts-info.svg" alt="">
          <div class="text">
              <h4>Ship to Store</h4>
              <p>Ship your items to a local store for pick up in 4-7 days.</p>
          </div>
          <div class="clear"></div>
      </div>

      <!-- shipping method -->

      <div class="inner-container shipping-methods">
        <div class="subhead">
          <h2>
            <img src="pub/img/track-order-icon.svg" alt="shipping method" />
            Select shipping method
          </h2>
        </div>
      </div>

      <div class="inner-container">
        <ul class="sm-btns">
          <li class="selected">
            <h3>Standard Shipping - FREE</h3>
            <div>pickup up in 4-7 business days</div>
          </li>
        </ul>
      </div>

    </div>
</form>

<div class="clear"></div>
