<!-- header -->
<div class="header">
  <h1>
    <img src="pub/img/icons/shipping.svg" alt="">
    SHIPPING - REGISTERED
  </h1>
  <a href="" ng-click="shippingViewToggle();">toggle</a>
</div>

  <h2>Where will you ship these items?</h2>
  <div class="options">

    <div class="input-wrapper">
        <input type="radio" ng-model="shippingLocation" value="shipToHome" name="shippingLocation" ng-checked="true" id="rsSTH">
        <label for="rsSTH">Ship to Home</label>
    </div>
    <div class="input-wrapper">
        <input type="radio" ng-model="shippingLocation" value="shipToStore" name="shippingLocation" id="rsSTS">
        <label for="rsSTS">Ship to Store</label>
    </div>

  </div>

    <div class="form">
        <div class="sth" ng-class="{'ng-leave':shippingLocation=='shipToStore','ng-enter':shippingLocation=='shipToHome'}">
            <h2>Your saved addresses</h2>
            <div class="cards">
             <ul>
                  <li class="card active home">
                    <h5><img src="pub/img/icons/home.svg"> Home Address</h5>
                    <h3>Luis Martinez</h3>
                    <div class="card-payment-info">
                        <ul>
                            <li>2626 Main Street</li>
                            <li>Dallas, Texas 75227</li>
                            <li><a href="#">edit</a></li>
                        </ul>
                        <div class="card-payment-express">
                            <input type="checkbox"><span></span> <p>set as Express Checkout address</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                  </li>
                  <li class="card">
                    <h3>John Swuart</h3>
                    <div class="card-payment-info">
                        <ul>
                            <li>2626 Main Street</li>
                            <li>Dallas, Texas 75227</li>
                            <li><a href="#">edit</a></li>
                        </ul>
                        <div class="card-payment-express">
                            <input type="checkbox"><span></span> <p>set as Express Checkout address</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                  </li>
                  <li class="card">
                    <h3>James Balding Washington</h3>
                    <div class="card-payment-info">
                        <ul>
                            <li>2626 Main Street</li>
                            <li>Dallas, Texas 75227</li>
                            <li><a href="#">edit</a></li>
                        </ul>
                        <div class="card-payment-express">
                            <input type="checkbox"><span></span> <p>set as Express Checkout address</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                  </li>
             </ul>
             <ul>
                <li id="addNewAddress" class="card center" ng-click="addNewAddress();">
                    <div>
                        <a href=""><span>+</span> Add a new address</a>
                        <p class="sub-text">Enter a new address below</p>
                    </div>
                 </li>
             </ul>
            </div>

        <form id="newAddressForm" class="inner-container shipping-form">
          <div class="country">
            <h2>Enter your shipping information</h2>
            <label>Country or APO/FPO/DPO</label>
            <select>
              <option>United States</option>
              <option>APO/FPO/DPO</option>
            </select>
            <a href="#">Ship to another country</a>
          </div>

            <div class="col-1-2">
              <label>First Name <span>*</span></label>
              <input type="text" name="shippingForm.fname" ng-class="{ inputError: shippingFormError, inputValid: shippingFormValid }" ng-model="shippingForm.fname">
              <span ng-if="shippingFormError" class="error">This field is required</span>
            </div>

            <div class="col-1-2">
              <label>Last Name <span>*</span></label>
              <input class="med-input" name="shippingForm.lname" ng-class="{ inputError: lnameError, inputValid: lnameValid }" type="text" ng-model="shippingForm.lname">
              <span ng-if="lnameError" class="error">This field is required</span>
            </div>

            <label>Street Address <span>*</span></label>
            <input name="shippingForm.field" ng-class="{ inputError: streetError, inputValid: streetValid }" ng-model="shippingForm.field" type="text">
            <span ng-if="streetError" class="error">This field is required</span>

            <ul class="address-dropdown" ng-hide="shippingFormHide" ng-show="shippingForm.field.length" id="form">
              <li ng-model="address" ng-click="setAddress('6701 Legacy St')"><img src="pub/img/icons/location.svg" /> 6701 Legacy St Plano, TX 75024</li>
              <li ng-model="address" ng-click="setAddress('6701 Legacy St')"><img src="pub/img/icons/location.svg" /> 6701 Legacy St Benbook, TX 78203</li>
              <li ng-model="address" ng-click="setAddress('6701 Legacy St')"><img src="pub/img/icons/location.svg" /> 6701 Legacy St Richland Hills, TX 74602</li>
            </ul>

            <div>
              <label>Company (optional)</label>
              <input type="text" ng-model="shippingForm.company">

              <label>Apt, Suite, Floor (optional)</label>
              <input type="text" ng-model="shippingForm.apt">

              <div class="clear"></div>

              <div class="zip">
                <label>Zip Code <span>*</span></label>
                <input type="text" value="75024">
              </div>

              <div class="city">
                <label>City <span>*</span></label>
                <input class="sml-input" type="text" value="Plano">
              </div>

              <div class="state">
                <label>State <span>*</span></label>
                <select>
                  <option ng-model="shippingForm.state" value="TX">Texas</option>
                </select>
              </div>

              <div class="clear"></div>

              <div class="phone">
                <label>Phone Number <span>*</span> <span class="form-tool-tip">Why do we need this<img src="pub/img/icons/tooltip.svg"></span></label>
                <input class="med-input" name="shippingForm.phone" ng-class="{ inputError: phoneError, inputValid: phoneValid }" type="text" ng-model="shippingForm.phone">
                <span ng-if="phoneError" class="error">This field is required</span>
              </div>

              <div class="phone">
                <label>Phone Number <span>*</span> <span class="form-tool-tip">Why do we need this<img src="pub/img/icons/tooltip.svg"></span></label>
                <input class="med-input" name="shippingForm.phone" ng-class="{ inputError: phoneError, inputValid: phoneValid }" type="text" ng-model="shippingForm.phone">
                <span ng-if="phoneError" class="error">This field is required</span>
              </div>
            </div>
            <div class="clear"></div>
            <div class="confirm">
                <a href="#">cancel</a>
                <button class="button secondary small">DONE</button>
            </div>
        </form>
      <!-- inner-container -->

      <div class="clear"></div>


     <!-- shipping methods -->
      <div class="inner-container shipping-methods">
        <div class="subhead">
          <h2>
            <img src="pub/img/track-order-icon.svg" alt="shipping method" />
            Select shipping method
          </h2>
        </div>
      </div>
      <div class="inner-container">
        <ul class="sm-btns">
          <li class="active" ng-class="{ active: isSMSet(1) }" ng-click="setSMTab(1, 0)">
            <h3>Free standard shipping</h3>
            <div>est. delivery: Jun 17th - Jun 21st</div>
          </li>
          <li ng-class="{ active: isSMSet(2) }" ng-click="setSMTab(2, 37.50)">
            <h3>1 Day Shipping - $37.50</h3>
            <div>est. delivery: Jul 12th - Jun 15th</div>
          </li>
          <li ng-class="{ active: isSMSet(3) }" ng-click="setSMTab(3, 12.00)">
            <h3>2 Day Shipping - $12.00</h3>
            <div>est. delivery: Jul 12th - Jun 15th</div>
          </li>
        </ul>
      </div>
      <div class="clear"></div>

    </div>
        <div id="sts-r" class="sts" ng-class="{'ng-leave':shippingLocation=='shipToHome','ng-enter':shippingLocation=='shipToStore'}">
            <div class="cards">
             <ul>
                  <li class="card active">
                    <h3>Stone Briar Mall</h3>
                    <div class="card-payment-info">
                        <ul>
                            <li>7262 Main Street</li>
                            <li>Dallas, Texas 75787</li>
                            <li class="hours">
                                Mon-Sat: 10am - 9pm </br>
                                Fri-Sun: 10am - 10pm
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                  </li>
                  <li class="card">
                    <h3>Collin Creek</h3>
                    <div class="card-payment-info">
                        <ul>
                            <li>8272 Main Street</li>
                            <li>Dallas, Texas 75727</li>
                            <li class="hours">
                                Mon-Sat: 10am - 9pm </br>
                                Fri-Sun: 10am - 10pm
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                  </li>
                 <li class="card center">
                    <div>
                        <a href=""><span>+</span> select new store</a>
                    </div>
                 </li>
                </ul>
            </div>
            <div class="clear"></div>
            <h5>Enter the contact information of the pickup up person</h5>
            <form>
                <label for="">First Name <span>*</span></label>
                <input type="text">
                <label for="">Last Name <span>*</span></label>
                <input type="text">
                <label for="">Phone Number (optional)</label>
                <input type="text">
            </form>

          <div class="sts-info">
              <img src="pub/img/icons/sts-info.svg" alt="">
              <div class="text">
                  <h4>Ship to Store</h4>
                  <p>Ship your items from one store to a local store. Pick them up 4-7 days.</p>
              </div>
              <div class="clear"></div>
          </div>


          <!-- shipping methods -->
          <div class="inner-container shipping-methods">
            <div class="subhead">
              <h2>
                <img src="pub/img/track-order-icon.svg" alt="shipping method" />
                Select shipping method
              </h2>
            </div>
          </div>
          <div class="inner-container">
            <ul class="sm-btns">
              <li class="active" ng-class="{ active: isSMSet(1) }" ng-click="setSMTab(1, 0)">
                <h3>Standard Shipping - FREE </h3>
                <div>pick up in 4-7 business days</div>
              </li>
            </ul>
          </div>
          <div class="clear"></div>

          <!-- gift wrap options -->
            <div class="subhead gift-wrap">
                <h2><img src="pub/img/icons/gift.svg"> Gift Wrap</h2>
                <a href="">add gift wrap options</a>
            </div>


        </div>
    </div>


