<svg viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
    <defs></defs>
    <g id="done-icon" transform="translate(0.000000, 4.000000)">
        <path d="M12.7488549,1.50457499 C12.5059948,1.23961693 12.1124197,1.23961693 11.8694974,1.50457499 L4.02336269,10.0668252 L2.06145596,7.92585552 C1.81865803,7.66096532 1.42495855,7.66096532 1.18209845,7.92585552 C0.939300518,8.19081358 0.939300518,8.62044595 1.18209845,8.88547185 L3.58365285,11.5062157 C3.7050829,11.6386609 3.86419171,11.7049513 4.02330052,11.7049513 C4.18240933,11.7049513 4.34158031,11.6386609 4.46294819,11.5062157 L12.7488549,2.46412347 C12.9916528,2.19916542 12.9916528,1.76953304 12.7488549,1.50457499"></path>
    </g>
</svg>

<!--
<svg version="1.1" class="done-check" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14 13" xml:space="preserve">
  <path class="path" fill="#333333" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M12.7488549,1.50457499 C12.5059948,1.23961693 12.1124197,1.23961693 11.8694974,1.50457499 L4.02336269,10.0668252 L2.06145596,7.92585552 C1.81865803,7.66096532 1.42495855,7.66096532 1.18209845,7.92585552 C0.939300518,8.19081358 0.939300518,8.62044595 1.18209845,8.88547185 L3.58365285,11.5062157 C3.7050829,11.6386609 3.86419171,11.7049513 4.02330052,11.7049513 C4.18240933,11.7049513 4.34158031,11.6386609 4.46294819,11.5062157 L12.7488549,2.46412347 C12.9916528,2.19916542 12.9916528,1.76953304 12.7488549,1.50457499"/>
</svg>
-->
