<svg viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none">
    <defs></defs>
    <g id="lock-icon">
        <path d="M2.00007408,7.33360495 L2.00007408,7.33360495 L2.00007408,7.33360495 C0.894699804,7.33693841 0,8.22697137 0,9.33967925 L0,15.9939257 C0,17.1019667 0.897366569,18 2.0060743,18 L11.9944442,18 C13.1024853,18 14.0005185,17.1086337 14.0005185,15.9939257 L14.0005185,9.33967925 C14.0005185,8.23363828 13.1064854,7.33627171 12.0004445,7.33360495 L12.0004445,4.9995185 C12.0004445,2.23808289 9.75636135,0 7.00025927,0 C4.23882366,0 2.00007408,2.23808289 2.00007408,4.9995185 L2.00007408,7.33360495 L2.00007408,7.33360495 Z M4.00014815,7.33360495 L4.00014815,5.00085188 C4.00014815,3.33945702 5.34353124,2.00007408 7.00025927,2.00007408 C8.65365384,2.00007408 10.0003704,3.34345717 10.0003704,5.00085188 L10.0003704,7.33360495 L4.00014815,7.33360495 L4.00014815,7.33360495 Z" id="Shape" fill="#FFFFFF"></path>
    </g>
</svg>
