
<svg viewBox="0 0 21 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
    <defs></defs>
    <g id="payment-icon" transform="translate(0.000000, 2.000000)">
        <path d="M18.7213959,0.421052632 L1.70194508,0.421052632 C0.680778032,0.421052632 0,1.12280702 0,2.1754386 L0,14.1052632 C0,15.1578947 0.680778032,15.8596491 1.70194508,15.8596491 L18.7213959,15.8596491 C19.7425629,15.8596491 20.423341,15.1578947 20.423341,14.1052632 L20.423341,2.1754386 C20.423341,1.12280702 19.7425629,0.421052632 18.7213959,0.421052632 L18.7213959,0.421052632 Z M19.4021739,14.1052632 C19.4021739,14.5774561 19.1794744,14.8070175 18.7213959,14.8070175 L1.70194508,14.8070175 C1.24386656,14.8070175 1.02116705,14.5774561 1.02116705,14.1052632 L1.02116705,6.25438596 L19.4021739,6.25438596 L19.4021739,14.1052632 L19.4021739,14.1052632 Z M19.4021739,3.44736842 L1.02116705,3.44736842 L1.02116705,2.1754386 C1.02116705,1.70324561 1.24386656,1.47368421 1.70194508,1.47368421 L18.7213959,1.47368421 C19.1794744,1.47368421 19.4021739,1.70324561 19.4021739,2.1754386 L19.4021739,3.44736842 L19.4021739,3.44736842 Z"></path>
    </g>
</svg>
